[2019-04-09 19:42] axoplasm commented on #1353
This should be fixed in PR #1354

[2019-04-09 19:43] RickieT commented on #1341
@KennyMonster for testing the implementation of scenario one, is there anyway to manually terminate a session via the dev console in chrome, so that I could try to get the warning to pop?

[2019-04-09 19:44] axoplasm commented on #1326
Setting aside the new bugs we found, I’ve changed the error message to “Rationale is required.” This field is strictly speaking required but you can subvert this by entering [space] or any other random thing.

[2019-04-09 19:45] KennyMonster commented on #1341
@RickieT If you manually hit `/accounts/logout/`, in a different tab, it will kill your current session.

[2019-04-09 19:54] jennyhavah commented on #1341
Okta appears to hold on to the data, but I don't know what happens after an Okta login succeeds at the moment.

I can file a ticket for Okta to poke at it in the future.

@KennyMonster I _think_ Cameron just fixed this? From Slack: In the scenario where someone tries to log in with gmail using a mercycorps.org email address, we are going to send them straight to Okta (where they’re supposed to log

[2019-04-09 20:08] camgnostic commented on #1344
Closed by PR #1363
NOTE: as of this point there is no validation on that field, so "123-456-7890" is a valid phone number, as is "this is a phone number I swear" and "       "

If we want validation please open a ticket, but due to the complications of international phone numbers that is a question I leave to @jennyhavah / @hannalcamp

[2019-04-09 20:21] RickieT commented on #1343
**QA - PASSED**
* Issue no longer occurs as written

[2019-04-09 20:28] KennyMonster commented on #1341
I think we are talking about separate things. The case of a redirect after login is something like:

User goes to: /program/515/
User is not logged in so they are redirected to: /accounts/login
They choose 1 of 3 mechanisms to log in, and once they do, they are sent directly to: /program/515/

The thing Cameron just fixed is a redirect from Gmail to Okta based on their email, but regardless of wha

[2019-04-09 20:53] KennyMonster commented on #1341
![Screen Shot 2019-04-09 at 1 51 55 PM](https://user-images.githubusercontent.com/1278224/55834429-c9634600-5ace-11e9-90d7-eca4155c09f3.png)

The PNotify message when you submit an AJAX requestand do not have permission.

[2019-04-09 20:53] jennyhavah commented on #1335
Reopening because we still need to do this work -- it's just not a Papaya release blocker. (See my comment above.)

I'll move it to To Do.

[2019-04-09 20:55] RickieT commented on #1346
**QA - PASSED**
* Tried this again with mctest.low@gmail.com, and was able to login successfully through the gmail option.

[2019-04-09 20:59] jennyhavah commented on #1341
@KennyMonster Sorry, I'm a little lost. Can you please quote the specific chunk of the original ticket you're talking about, and clarify what we've implemented so far, instead of that?

[2019-04-09 21:02] RickieT commented on #1308
@camgnostic following the steps above after a few attempts, I am not able to reproduce this on dev2. I think we can close this and re-open if anything similar pops

[2019-04-09 21:02] #1308 closed

[2019-04-09 21:06] sanjuroj opened #1365 "APIs for Projects"
Create APIs for projects so data can be extracted.  Work with Afghanistan, Pakistan, and Timor to see what form they want the data in.

[2019-04-09 21:21] sanjuroj opened #1366 "Check for reactivity in admin"
Based on the experience in #1355, it's possible that other features in the new admin panel are not reactive.  We need to do a broad check for reactivity in the admin panel.

[2019-04-09 21:38] camgnostic opened #1367 "Adding a country results in weird UI Behavior"
To reproduce:
Go to Admin->Countries
Click "Add new country"
fill out name, description, country code
click "Save"
Notice it appears briefly at the top of the country list
Then it disappears
Now it's gone from filters and list until you refresh the page.

[2019-04-09 21:40] camgnostic opened #1368 "Adding a program results in weird UI behavior"
Admin->Programs
Add program
Fill out fields on first page
click "Save"
click on your newly created program, page goes blank, no info on page about what to do next

[2019-04-09 21:43] camgnostic opened #1369 "Countries list is not alphabetized in admin dropdowns"
- Add program
- Update program
- Permissions update on user (filter at top)

[2019-04-09 22:30] jennyhavah opened #1370 "Deletion rules for indicators"
# Terminology
**1. Confirmation prompt:** This is a dialogue that warns you of a destructive action and prompts you for confirmation that you want to proceed.

**2. Rationale prompt:** This is a dialogue that warns you that changes are being logged and prompts you to type text into a rationale field.

# Summary
- We have always had _confirmation prompts_ when you delete just about anything.
- With

[2019-04-10 01:42] camgnostic commented on #1262
I rewrote some of Roderick's work to match the styling and animation of the IPTT Report.  In PR #1371  which I'm tagging @axoplasm on to have a look if he can.  I think it needs break points and a minimum width, but for the moment it is more consistent in style to the IPTT filter form sidebar.  And more reusable.

[2019-04-10 01:52] camgnostic commented on #1329
Addressed in partner-access (#1372) - this ticket needs to be moved to Satsuma or duplicated in Satsuma to ensure styling is also updated there - @jennyhavah should I just copy the ticket?  Or can we move it after QA?

[2019-04-10 01:53] camgnostic commented on #1369
duplicate

[2019-04-10 01:53] #1369 closed

[2019-04-10 02:36] jennyhavah commented on #1330
@axoplasm As I work more with these notifications, the Warning title is growing on me -- I appreciate your point about it establishing a nice hierarchy of information.

I'd like to keep it as is. Unless you have any objections, please feel free to close this ticket as a "never mind".

[2019-04-10 03:23] jennyhavah opened #1373 "Deleting targets after results are added: Evidence links disappear from results"
Note: This is not a Papaya-specific regression. But it seems significant enough that I'm not sure it should languish in the Poblano backlog.

How to reproduce the issue:

1. Find an indicator that has results linked to it that include evidence.
2. Open the indicator setup form, go to the Targets tab, click "Remove all targets" and click OK on the confirmation prompt.
3. Close the modal.

**Expecte

[2019-04-10 04:01] jennyhavah opened #1374 "Delete a thing: Text is underlined"
On Dev2, on the indicator setup modal, I noticed that "Delete this indicator" has an underline, like so:

![image](https://user-images.githubusercontent.com/33670923/55850445-34ca0980-5b09-11e9-862b-aef16a1be036.png)

This is only on Dev2, not QA or Production. I have not done a systematic check to see if this is a global change anywhere we have a "Delete a thing" link.

We may want to double chec

[2019-04-10 04:49] jennyhavah commented on #1329
@camgnostic Can you please make a copy of the ticket in Satsuma, referencing this ticket and the need to ensure that the change is carried over?

That way, Rickie can test and mark the ticket Done, and we don't risk the work falling off our radar because we forgot to move the ticket from one project to another.

[2019-04-10 04:59] jennyhavah commented on #1350
Glad you caught this, @camgnostic! I've included this scenario in a broader epic about deleting indicators. See #1370.

I am closing this ticket because the desired behavior is covered in the epic.

[2019-04-10 04:59] #1350 closed

[2019-04-10 07:09] camgnostic commented on #1335
Do we want this also on multi-selects within the Admin edit pages?  For example, when editing an Organization, Sectors is a multi-select.  Pills or # selected?

[2019-04-10 15:46] RickieT commented on #1344
@camgnostic I'm not seeing the phone number field change still when changing/adding numbers to the phone field for users, I'm moving this back to dev

[2019-04-10 15:51] RickieT commented on #1317
**QA - PASSED**
* This issue no longer occurs as written

[2019-04-10 16:53] jennyhavah commented on #1335
@camgnostic This ticket was for the admin console. I'm guessing you're implementing this in the IPTT, which is great.

We eventually DO want consistent behavior with these multi-selects across the app, but it is NOT a release blocker for Papaya.

If my assumption is correct and you're actually working on the IPTT multi-selects, I'd like to propose we move this ticket over to Satsuma. What do you t

[2019-04-10 16:58] RickieT commented on #1329
**QA - PASSED**
* Changelog link now sits at the bottom left corner of the table on IPTT pages, and directs user to the change log successfuly

[2019-04-10 17:00] RickieT commented on #1353
**QA - PASSED**
* Was able to successfuly create/edit results and attach them in indicators.

[2019-04-10 18:08] RickieT commented on #1355
**QA - PASSED**
* Saving inactive/active status added the status change to the history table immediately after clicking save
* Changes made in the profile tab were reflected immediately in the table after clicking save changes, no page reload necessary

[2019-04-10 18:09] RickieT commented on #1262
**QA - PASSED**
* Confirmed on parthenon's staging a while back, and confirming here, flyout behavior between IPTT and Admin page filters, consistent function.

[2019-04-10 18:19] RickieT commented on #1341
**QA - FAILED**
I logged in with mctest.high@gmail.com, used "/accounts/logout/" in another tab to end my session, and then attempted to edit an indicator, and was met with an infinite loading and mini login page?:
![image](https://user-images.githubusercontent.com/23220180/55903419-7054ea00-5b82-11e9-94b8-034c42544321.png)

[2019-04-10 19:04] RickieT commented on #1344
**QA - PASSED**
* Due to some mystical background happenings, this is now working, and phone number field is saving changes as made in admin > Users phone field.

[2019-04-10 19:40] RickieT commented on #1327
**QA - PASSED**
* Looks like this has been fixed, site field is of normal length and width now. I'll keep an eye out in further testing, and will check this again before final PA release.

[2019-04-10 19:41] axoplasm commented on #1338
This is explicated in #1339, will close this ticket

[2019-04-10 19:41] #1338 closed

[2019-04-10 19:43] KennyMonster commented on #1341
@RickieT The case you found above should now be fixed. Good catch! It was breaking when the login page was being shoved into a modal (instead of the requested form). It will now just put a string into the modal, but the expected PNotify message should show up to allow the user to redirect to the login page.

[2019-04-10 20:37] jennyhavah commented on #1368
This sounds like it could be a potential release blocker -- certainly if actual program field data is not being saved and/or there's no way for the user to recover from the error.

@RickieT I'll leave it to you to investigate and fill us in on the details.

[2019-04-10 20:41] jennyhavah commented on #1367
If you can always work around this by refreshing the page, then I would consider this a usability issue we ought to fix, but not a release blocker.

@hannalcamp, can you please check out this behavior and let us know if you consider it to be a release blocker? If not, I suggest we move it to Poblano.

[2019-04-10 20:45] jennyhavah opened #1377 "Global: Disabled/enabled checkboxes are practically indistinguishable"
Affects: Global. While the example given is from the Admin console, this issue applies to any checkbox list that includes both active and inactive items.

Note: The particular screen used as an example has numerous UX challenges that are tackled in other tickets such as #1500 and #1532. This ticket only addresses a narrow visual design issue with the checkbox elements themselves.

# Issue

Reporte

[2019-04-10 20:45] jennyhavah commented on #1377
@camgnostic, can you please clarify which view you mean, exactly, and include a screenshot?

[2019-04-10 20:48] jennyhavah opened #1378 "Introduce password security rules"
Reported by Cameron: Should we have business rules for passwords? Partner passwords can be "123".

Suggested by Sanjuro: Doing something like checking that the response contains only numbers and a couple of characters like "." and "-", and checking for a minimum length would be really easy to do. Full fledged validation would obviously be more involved.

[2019-04-10 20:53] jennyhavah commented on #1378
@hannalcamp Would you consider the ability for external users to easily create insecure passwords to be a release blocker?

If yes, we'll need to huddle right away how strict the rules ought to be.

If not, I would still recommend we flesh out requirements but would move the ticket to Poblano.

[2019-04-10 20:54] RickieT commented on #1368
Let me take a look at this..

[2019-04-10 20:58] RickieT opened #1379 "Status and history is not reactive when updating program (same issue with admin > org page)"
refer to #1355  for the same issue:
![image](https://user-images.githubusercontent.com/23220180/55913007-75249880-5b98-11e9-95ac-de4ef3c61452.png)

[2019-04-10 20:59] jennyhavah commented on #1367
This may or may not be an example of the "lack of reactivity" described in #1366.

[2019-04-10 21:02] jennyhavah commented on #1366
@RickieT Would you be able to take on this systematic review and let us know where else (if anywhere) we need to address a lack of reactivity in the admin?

I'm wondering if #1367 is an example of this.

If the workaround is always to refresh the page, then it becomes a question of: Will the user instinctively know to do this, or are they going to think it's broken and send us a support request?

[2019-04-10 21:04] jennyhavah commented on #1359
Tagging @RickieT -- wondering if this should be folded into #1366.

[2019-04-10 21:06] RickieT commented on #1366
@jennyhavah Im going to move this into "doing". Any page where I find this to be an issue (just found one in the programs page) I will file a new ticket and add it to the "this release" column.

Once I've covered all the pages thouroughly, I will link any relevant tickets and close this.

Let me know if you have other suggestions for handling this

[2019-04-10 21:10] RickieT commented on #1359
@jennyhavah Yeah lets note all issues like this in #1366

[2019-04-10 21:12] jennyhavah commented on #1313
@camgnostic I seem to recall you recently doing some refactoring on the Satsuma branch that addresses the N/A issue globally. Is that true?

If yes, I suggest we close this ticket in Papaya since it's already done in Satsuma.

[2019-04-10 21:32] RickieT commented on #1366
**Review Completed:**
Admin > Users:
* User changes/creations were immediate upon saving
* New history was instantly available upon changing user information and clicking save
* ***User _could not_ be searched in filters until page reload

Admin > Programs:
* Could edit/create programs and see changes immediately when I click save
* ***(#1379 )History changes were not reactive, page reload require

[2019-04-10 21:36] RickieT opened #1380 "programs/users/countries/orgs created in admin pages are not immediately searchable via filter"
As part of #1366 investigations, also closes (#1366):

**Admin > Users:**

- [x] Newly created User could not be searched in filters until page reload

**Admin > Programs:**

- [x] New Program not immediately searchable, required page reload

**Admin > Countries:**

- [x] New Country could not be searched in country filter until page was reloaded

Admin > Organizations (recently fixed):

- [x] New

[2019-04-10 21:37] #1366 closed

[2019-04-10 21:38] jennyhavah commented on #1366
Sounds good, @RickieT. Does the new ticket cover everything Cameron reported in #1368, #1359, and #1367? Can we close them as duplicates?

[2019-04-10 21:39] RickieT commented on #1366
@jennyhavah #1368 and #1367 I am still trying to replicate at the moment

[2019-04-10 21:43] RickieT commented on #1367
I was able to reproduce this issue by following the steps to create then save, but when I clicked it at the top of the list, it disappeared as described. @jennyhavah its not ideal behavior, but it doesn't block the user from creating the country/editing/searching for it, so in my opinion yes we should fix, but I agree it might not be at release blocker level

[2019-04-10 21:46] RickieT commented on #1368
@camgnostic @jennyhavah We should probably fix this:
I replicated this by following the steps above, only after I clicked saved, I clicked status and history, and the page was blank.

Note that I have repeated this a couple of times, where this behavior was NOT seen, so its not 100% reproduceable

Heres what I saw and the errors in the console:
![image](https://user-images.githubusercontent.com/23

[2019-04-10 22:03] jennyhavah commented on #1367
Oddly, I cannot reproduce the behavior of the country disappearing from the top of the list. I do see that it doesn't appear in the filters.

I'm going to defer to @hannalcamp to check out the behavior for herself and let us know if it's a release blocker.

[2019-04-10 22:27] RickieT commented on #1341
@KennyMonster I'm still seeing this behavior

[2019-04-10 22:29] KennyMonster commented on #1304
@axoplasm Working code for this is now in `1304_expandos`. It currently needs some styling work though, namely the dates need coloring and probably styling to change the moues cursor to a pointer, so users know is clickable.

I also added expand all and collapse all to the audit log, and those buttons need placement/styling as well (see upper right corner next to the Excel export button):

![Scree

[2019-04-10 22:33] RickieT commented on #1326
**QA - PASSED**
* Deleting an indicator w/ Targets
* Deleting an Indicator w/results
* Modifying an indicator
* Changing Program Period
* Attaching results
* Modifying Results
* Modifying results report date
* Deleting results

All these prompts under the above conditions were prompted, and could not be submitted WITHOUT entering text in the field before hand.

[2019-04-10 22:44] jennyhavah commented on #1368
Thanks for the investigation, @RickieT. I'll go ahead and move the ticket into This Release. @KennyMonster or @camgnostic, could either of you assign this one to yourselves?

[2019-04-10 22:51] jennyhavah commented on #1342
I replicated the experience, and think it would be unfortunate to leave it this way for release. This is what I see if I login to the old Django admin with a bad username/password:

![image](https://user-images.githubusercontent.com/33670923/55918481-2848be00-5ba8-11e9-8922-d793e63622d2.png

Because Paul has so many tickets in flight right now, I'd like to ask @camgnostic or @KennyMonster if you c

[2019-04-11 00:20] jennyhavah commented on #1359
@RickieT Is this ticket covered by #1380? Should we close this one as a duplicate, or does it need to remain a separate ticket?

[2019-04-11 00:24] RickieT commented on #1359
Yeah it is and we should close this I forgot to come back and do that, was jumping between a lot of tickets today

[2019-04-11 00:24] KennyMonster commented on #1368
Also, the error handling for all network API calls done in the new admin is terrible, namely by not existing at all. This appears to be the root cause behind https://github.com/mercycorps/TolaActivity/issues/1368 and why it’s only sometimes reproducible. It becomes 100% reproducible if you turn off networking after you create a new program.

[2019-04-11 00:34] jennyhavah commented on #1335
Also, can whoever is running with this ticket at the moment please un-assign the other two devs? That'll make it easier to know who to go to with questions, etc.

[2019-04-11 00:37] jennyhavah commented on #1359
Closing this ticket because it is now covered in #1380.

[2019-04-11 00:37] #1359 closed

[2019-04-11 10:39] hannalcamp commented on #1367
I agree, I wouldn't consider this a release blocker. Adding a country will for now be an extremely rare thing and be done only by Super Admins.

[2019-04-11 10:40] hannalcamp commented on #1344
Definitely think validation of phone numbers would be too complicated for now, I imagine we'd have to employ some kind of system for drop-down country codes with formatting for each type.

[2019-04-11 13:39] hannalcamp commented on #1378
I would not consider it a release blocker but I would place it at the top of the Poblano priority list, i.e. if we can get anything from the backlog into papaya prior to release let's make it this.

[2019-04-11 16:34] RickieT commented on #1352
**QA - PASSED**
* Login Dev 2 via gmail/okta successful
* Attaching results using gdrive picker successful

[2019-04-11 16:36] sanjuroj commented on #1344
Doing something like checking that the response contains only numbers and a couple of characters like "." and "-", and checking for a minimum length would be really easy to do.  Full fledged validation would obviously be more involved.

[2019-04-11 17:17] RickieT commented on #1341
**QA - Failure and Notes**
**Scenario 1:**

**Requirement PASSED**:  I am redirected to the login page, after the pop up appears asking me to login if my session has expired and I attempt to make an edit or perform an action

**Requirement FAILED:** If I successfully log in, and I am authorized to see the page, I am taken to the page.
_I was on a program page, and attempted to edit an indicator, a

[2019-04-11 17:42] jennyhavah commented on #1378
I'm going to leave it in To Do in Papaya so it stays on our radar and someone can grab it as a stretch goal. I copied over @sanjuroj's suggestions for a minimal approach.

@sanjuroj or @camgnostic, if either of you decide to grab this, I'll leave it to you to flesh out the details of the ticket with your specific recommendations. (I think you're better placed to efficiently and thoroughly write th

[2019-04-11 17:43] jennyhavah commented on #1367
Great, moving to Poblano.

[2019-04-11 18:05] jennyhavah commented on #1348
@RickieT Hey, when you have a chance, can you let us know if this one needs work? (Trying to figure out if this is already done by Parthenon or if we need to do some work ourselves.)

[2019-04-11 18:11] RickieT commented on #1348
@jennyhavah I was planning on working in this yesterday and got distracted by a lot of other tickets, so I'll put this one at the top of my list right now

[2019-04-11 18:24] jennyhavah opened #1382 "Change log: Include explanatory text when an action is logged but a rationale is not required"
**Background:** In our change log, many of the actions we log require rationales, but some do not. And in some cases, rationales are/are not required for a single action, depending on certain conditions being met. For example, we only capture rationales for indicator deletion when there are linked results.

# Story
When I see an action in the change log without a rationale, I know whether or not a

[2019-04-11 18:33] jennyhavah commented on #1382
@hannalcamp Can you please fill in whatever you can, and then reassign to me and tag me in a comment? Thanks!

[2019-04-11 18:38] RickieT commented on #1348
**QA - Failures and Testing Notes**
* **FAILURE:** For user mctest.low@gmail.com, I gave permissions to _every_ program in Afghanistan. I then went to Sites, and then clicked indicator data for Afghanistan, and the page was blank.
* PASS - The user only saw sites information for the countries in which they had program access, so in this case, Afghanistan / USA
* I noticed with program access to US

[2019-04-11 19:18] RickieT opened #1383 "Indicator Data not showing up on Sites"
**This closes** 1348

In production, Afghanistan site does show indicator data, as user mctest.low@gmail.com with access to all programs in Afghanistan, I clicked Indicator data for Afghanistan, and was not able to see the indicator data.

In order to confirm indicator data is not showing up in indicator data through sites a user does not have access to, this issue needs to be resolved.

[2019-04-11 19:23] sanjuroj commented on #1378
There are two separate issues here.  One is phone number validation, the other is password strength validation.  My suggestion of minimal checking was for phone numbers.  I would suggest we try to time-box (<=1 hr?) some basic password strength validation for this release and improve it later if need be.  Django has some built in password validators that we can probably add quickly.

[2019-04-11 19:54] jennyhavah opened #1384 "Weird wrapping of admin views on smaller screens"
I'm looking at the Admin on my laptop at 100%. Here's what I see:

![image](https://user-images.githubusercontent.com/33670923/55988467-cdbb6a80-5c58-11e9-9cbc-7bf07ea1bdff.png)

Scrolling down...

![image](https://user-images.githubusercontent.com/33670923/55988497-de6be080-5c58-11e9-99b2-d74e8b39917a.png)

This reminds me of a similar issue Paul fixed in the IPTT report during Winterhawks.

[2019-04-11 20:11] axoplasm commented on #1345
@RickieT This is "fixed" but the fix has potential global visual regressions. Anywhere we use this particular widget (the `select2` multi-select widget) could be affected. A quick grep shows this widget in use in these places:

- [ ] IPTT quickstart
- [ ] Indicator results forms (e.g. “add result”)
- [ ] Workflow: import form (might not be used any more?)
- [ ] The Program/Country menu at the top

[2019-04-11 20:14] jennyhavah opened #1387 "IPTT: "Change log" should be sentence case"
"Change log" should be sentence case, like all of our text buttons

### ADDENDUM
we need to add a little vertical padding around this button as it can be covered by the horizontal scrollbar on some viewports

![image](https://user-images.githubusercontent.com/33670923/55989968-5cc98200-5c5b-11e9-88a2-89e0de82df03.png)

[2019-04-11 20:15] RickieT commented on #1345
@axoplasm ill make sure to run through those and whatever else I can click about with that might look similar when I get to this

[2019-04-11 20:25] jennyhavah commented on #1387
@axoplasm I am putting this in Poblano because I don't consider it a Papaya release blocker, but wanted to bring it to your attention so you get to make the final call.

[2019-04-11 20:27] axoplasm commented on #1387
Let's leave it in Papaya bc that will be a good time to fiddle with the vertical space around that button

[2019-04-11 20:29] jennyhavah opened #1389 "Deletion rules for targets"
# Terminology
**1. Confirmation prompt:** This is a dialogue that warns you of a destructive action and prompts you for confirmation that you want to proceed.

**2. Rationale prompt:** This is a dialogue that warns you that changes are being logged and prompts you to type text into a rationale field.

# Summary
- We have always had _confirmation prompts_ when you delete just about anything.
- With

[2019-04-11 20:31] RickieT commented on #1276
**QA - FAILED**
https://tola-activity-dev2.mercycorps.org/tola_management/audit_log/480/

I made numerous changes to some indicators, the items in the change log will not expand so I can view the changes made.

[2019-04-11 20:33] RickieT commented on #1304
**QA - FAILED**
https://tola-activity-dev2.mercycorps.org/tola_management/audit_log/480/

I made numerous changes to some indicators, the items in the change log will not expand so I can view the changes made.

[2019-04-11 20:36] RickieT commented on #1335
**QA - PASSED**
Looks like this is passing on Dev2
![image](https://user-images.githubusercontent.com/23220180/55991285-be3f2000-5c5e-11e9-8262-94477e98441c.png)

[2019-04-11 20:36] KennyMonster commented on #1341
@RickieT

When you logged in, did you use username/pw, gmail, or okta? It currently only redirects on username/pw and not gmail or okta as noted at the top of the ticket.

I would say it's half bug, half our system was just never designed to handle this use case, so a lot of code ends up in a wonky state in this case, and not much can be done without changing a lot of our existing system.

It may

[2019-04-11 20:49] RickieT commented on #1341
@KennyMonster Looks like I tried okta or gmail, since typing in my username and password seemed to re-direct just fine.

I'll use your tip for last party, checking by moving access from high to low

[2019-04-11 20:52] RickieT commented on #1341
**QA - FAILED**
* message just says "Permission denied", dialogue does not match the required message: "Sorry, you do not have permission to perform this action.
You can request permission from your TolaData administrator."
![image](https://user-images.githubusercontent.com/23220180/55992237-f34c7200-5c60-11e9-90ad-fddf08505f2e.png)

[2019-04-11 21:17] KennyMonster commented on #1341
@RickieT It turns out this is only a problem on this one endpoint which you found. The wrong error notification is showing through a combination of global error handling disabled on this one requested (thanks to Mahmood) and an error handler written in this *one* place by Rodrick... it totally works everywhere else :)

Anyways this should be fixed now in this case as well.

[2019-04-11 21:27] RickieT commented on #1341
**QA - PASSED**

* alright, kinks worked out, this looks good now :
![image](https://user-images.githubusercontent.com/23220180/55994202-f302a580-5c65-11e9-9d9d-92e387428f7d.png)

[2019-04-11 22:30] RickieT commented on #1368
**QA - PASSED**
* Tried this numerous times and no longer able to produce the issue, moving to ready for deploy

[2019-04-11 22:58] KennyMonster commented on #1342
@jennyhavah An error message on failed login should be easy enough.

Password reset workflow is a whole thing though, and wanted to verify that the stock Django workflow is desired and worth the time investment. From memory, I think the workflow is:

* user clicks link that they forgot their password
* they are taken to a form where they type in their email
* user is sent to a page saying an email

[2019-04-11 23:27] jennyhavah commented on #1389
@hannalcamp Tagging you so that you can review and let us know if you have any questions or concerns, or have any Parthenon historical context to share.

In particular, please check out the gaps around event deletion -- just in case it requires any updates to documentation, training materials, etc.

[2019-04-11 23:45] jennyhavah commented on #1342
I would be fine with just the error message for the Papaya release; we can pull the password reset flow into another ticket and put it in Poblano.

@axoplasm does that work for you?

[2019-04-12 03:34] jennyhavah commented on #1335
@RickieT Your screenshot makes me think there may be a misunderstanding about what we're testing. We're testing the multi-select filters in the left column filter panels... Instead of the "pills" showing each and every thing you selected, spelled out, it's supposed to give you a count of how many items you selected.

But @camgnostic I think we need some clarity on exactly where you implemented the

[2019-04-12 03:45] jennyhavah commented on #1341
@RickieT @KennyMonster For some reason I did not see this thread until just now. I see several questions directed at me, but now the ticket is in Ready to Deploy, before I had a chance to respond.

Is this something Ken and I chatted about in person, perhaps? Ken, would you be able to summarize/walk me through the decisions and tradeoffs made here? Either in Github or in person is fine, if it's ea

[2019-04-12 03:46] RickieT commented on #1335
@jennyhavah my mistake, thats not clearly spelled out here - in the screenshot it used to do the same thing there as well

[2019-04-12 03:49] jennyhavah commented on #1335
@RickieT So it sounds like there were also some updates made to form fields in the body of the page, which I didn't realize.

I'd like to ask @camgnostic to give us a list of any places the multi-selects were updated, just so we know all the places to check.

[2019-04-12 04:39] RickieT commented on #1341
@jennyhavah I see something about Okta being split into another ticket, but as far as the requirements in the ticket here, there were some back and forth because of failures. The requirements for the scenarios listed in the requirements of this ticket have been met, that is why I moved it to ready for deploy. If there are design concerns then lets move this back into doing until its resolved.

[2019-04-12 15:57] RickieT commented on #1341
@jennyhavah @KennyMonster I think this comment, you guys make a decision on if this should be resolved in another ticket, or in this one - if another ticket, move this back to QA - if more work is decided here, then lets keep it a part of this ticket. Sound good?

[2019-04-12 16:08] RickieT commented on #1348
@jennyhavah I'm gonna close this ticket, as  https://github.com/mercycorps/TolaActivity/issues/1383 covers the issue found in this test verification ticket

[2019-04-12 16:09] #1348 closed

[2019-04-12 16:17] KennyMonster commented on #1341
@jennyhavah I don't think any new design decisions were made beyond what we discussed in person on Wed, which are reflected in the updates made to the top level ticket.

Regarding Rickie's comment (quoting my comment) above, I was pondering if it would make sense to change the design such that a full page redirection to the login screen takes place, in the case of an AJAX request fails because you

[2019-04-12 16:23] RickieT opened #1390 "No error message for user with wrong U/P combo on login page"
For the third option on login page, log in with username and password, if the user enters the wrong credentials, the page reloads and not provided with any error message:
![login_wrong_u_p](https://user-images.githubusercontent.com/23220180/56051816-aae69000-5d04-11e9-8ecc-07d9b486753d.gif)

[2019-04-12 16:27] RickieT commented on #1345
**QA - PASSED**
![image](https://user-images.githubusercontent.com/23220180/56051982-2e07e600-5d05-11e9-9663-5399ba572940.png)

I also combed through the mentioned areas by @axoplasm, and saw no issues:
 IPTT quickstart
  Indicator results forms (e.g. “add result”)
  Workflow: import form (might not be used any more?)
  The Program/Country menu at the top of every page
Three workflow forms:
 Proje

[2019-04-12 16:29] KennyMonster commented on #1390
@RickieT I'm working on this now as part of #1342

[2019-04-12 16:31] RickieT commented on #1335
**QA - PASSED (Pending @camgnostic response)**
### Admin > Users:
![image](https://user-images.githubusercontent.com/23220180/56052118-7f17da00-5d05-11e9-80e5-b6bfb3e0d545.png)
### Admin > Programs
![image](https://user-images.githubusercontent.com/23220180/56052155-922aaa00-5d05-11e9-9517-67d3c119a8af.png)
### Admin > Organizations
![image](https://user-images.githubusercontent.com/23220180/56052

[2019-04-12 16:34] RickieT commented on #1390
@KennyMonster my mistake, lets close this as a duplicate

[2019-04-12 16:34] #1390 closed

[2019-04-12 16:36] RickieT commented on #1304
**QA - PASSED**
Not sure why this wasn't expanding before, but it is now.
![image](https://user-images.githubusercontent.com/23220180/56052470-59d79b80-5d06-11e9-8b3a-d138f676eca8.png)

[2019-04-12 16:36] RickieT commented on #1276
**QA - PASSED: Confirmed**

As part of testing:
 #1304 Re-implement collapsing changelog entries
 #1305 Replace nerdy change_type values with human-readable values
#1306 Replace nerdy field names with human-readable names

This ticket is ready for deploy. Looks great!

[2019-04-12 16:43] camgnostic commented on #1335
Sorry!!  Just the admin panes (filters) and admin panes (dropdowns) that were multi selects.  So Users page, Organizations page, Programs page, and Countries page the filters on the left that are multi-selects, also Program editing admin page: Countries and Sectors dropdowns, and Organizations editing admin page: Sectors dropdown.  I just realized I missed the multiselect for the Countries filter

[2019-04-12 17:39] jennyhavah commented on #1341
@RickieT Ken just walked me through his suggestion in the comment immediately above this one, and I agree with his suggestion. You'll see in the original ticket -- for the "Not logged in / perform action" section of Scenario 1, I've crossed everything out and replaced it with a redirect to the login page.

@KennyMonster is working on this. I think he may also have come across another weird but, bu

[2019-04-12 17:45] RickieT commented on #1341
@jennyhavah I like the re-direct better, and I think it eliminates any complications. I'll wait for this one and run through it again when it hits QA column.

[2019-04-12 17:49] RickieT commented on #1342
**QA - PASSED**
Outside of adding a reset workflow, it looks like were now covering the error messaging for failed login credentials, pending @axoplasm response, I think this passes the criteria for this ticket.

![image](https://user-images.githubusercontent.com/23220180/56056265-898ba100-5d10-11e9-87cc-872c6759c9b5.png)

![image](https://user-images.githubusercontent.com/23220180/56056305-a0ca8e

[2019-04-12 17:51] RickieT commented on #1342
@jennyhavah I was thinking alternativley, we could add the same message to the django login page "Need help logging in? Contact your TolaData administrator or email the TolaData team."

[2019-04-12 17:56] jennyhavah commented on #1335
@RickieT Cameron is going to fix that last multi-select, so I'm moving this back to Doing. If you've tested all the other multi-selects, then there will be just one more to test after he merges those changes in.

[2019-04-12 18:03] RickieT commented on #1335
@jennyhavah sounds good, watching

[2019-04-12 18:05] RickieT commented on #1387
@axoplasm I am not seeing this change on Dev2 right now

[2019-04-12 18:22] RickieT commented on #1384
**QA - PASSED**
* At 100% I am unable to reproduce this issue

[2019-04-12 18:30] axoplasm commented on #1334
The accordion folding for disaggregations and strategic objectives should resemble those of disaggregations on the Indicator Results form.

#### Admin lite country disaggregations,

#####...folded:

<img width="1335" alt="image" src="https://user-images.githubusercontent.com/169060/56058377-19801980-5d16-11e9-971d-076d0609f0b1.png">

#####...unfolded:
<img width="1328" alt="image" src="https://use

[2019-04-12 18:37] KennyMonster commented on #1341
Commit 5261fbeca3ab8b0e15237fdf95a6641abc06ab25 contains the updates to now redirect to the login page when attempting to perform an AJAX request while logged out.

[2019-04-12 18:41] jennyhavah commented on #1342
@RickieT I like the idea of adding some instructional language to the old Django admin, people may have it bookmarked or miss the announcements about the new admin. They'll go to the old one and wonder why they can't log in anymore.

@KennyMonster Would it be easy or hard to add a message _only in the old Django admin_, underneath the sign-in box? This is in addition to the existing error message,

[2019-04-12 18:43] jennyhavah commented on #1342
@RickieT Moved this to Doing to give Ken a chance to review and respond to the message above.

[2019-04-12 19:18] RickieT commented on #1379
**QA - PASSED**
* This is reactive now - when I make changes in the information for the program and click save, the changes show without having to reload the page under status and history.

[2019-04-12 19:35] axoplasm opened #1392 "Program page: Missing Program to date info"
I’m not sure how big this bug is. There's an errant % sign for "Program to Date" subtotals on the program page.

<img width="876" alt="image" src="https://user-images.githubusercontent.com/169060/56061847-7b914c80-5d1f-11e9-9991-d3244597fcf8.png">

compare with similar indicator on Production:

<img width="881" alt="image" src="https://user-images.githubusercontent.com/169060/56061876-8d72ef80-5d1

[2019-04-12 19:39] RickieT commented on #1341
** QA - PASSED **

Scenario 2: now sends you to the login page, the other actions have already been tested and covered, lets move this to deploy ready

[2019-04-12 19:41] RickieT commented on #1334
**QA - PASSED**
* Can edit/remove items from fields
* Fields save when changed

![image](https://user-images.githubusercontent.com/23220180/56062138-53eeb400-5d20-11e9-8235-330a2b18b6b9.png)

[2019-04-12 19:43] RickieT commented on #1387
**QA - Failed**

* Still reads "Change log"

[2019-04-12 19:50] jennyhavah commented on #1392
@camgnostic Can you please take a look, let us know what type of problem it is, and whether you've already solved it on the Satsuma branch?

I don't consider this a release blocker for Papaya _unless_ there's some sort of calculation issue we should resolve right away.

[2019-04-12 19:59] jennyhavah commented on #1387
@RickieT That's what we want. It is now sentence case.

[2019-04-12 20:00] RickieT commented on #1387
Oh my mistake. Or course. In that case pass!

[2019-04-12 20:06] KennyMonster commented on #1383
@RickieT @hannalcamp Something to note with this view: only Programs->Indicators with Results that are directly linked to a Site will show up here. If no Results are linked to the Site, you may get an empty list even if you have access to all Programs.

The form field linking a Result to a Site:

![Screen Shot 2019-04-12 at 12 31 42 PM](https://user-images.githubusercontent.com/1278224/56063192-72

[2019-04-12 20:41] RickieT commented on #1383
Hey, were seeing indicator data here now on sites.
![image](https://user-images.githubusercontent.com/23220180/56065030-8dc3b880-5d28-11e9-9c2e-2f088e329d8e.png)

@KennyMonster are you referring to a bug or a limitation of some sort?

[2019-04-12 20:45] KennyMonster commented on #1342
@jennyhavah Would this work?

![Screen Shot 2019-04-12 at 1 45 06 PM](https://user-images.githubusercontent.com/1278224/56065270-36721800-5d29-11e9-9daa-8dc1b73203c1.png)

[2019-04-12 20:48] KennyMonster commented on #1383
It's not a bug, just an implementation detail that differs a bit with what Hanna was describing in #1348, namely that this is a view of Results (grouped by indicates and programs) linked to a site, and not a list of all indicators associated via programs to a site.

[2019-04-12 20:50] sanjuroj opened #1393 "Potential sorting issues in dropdowns."
There are two areas where sorting of dropdown lists might be improved:
- [ ] Organizations in filter panel on all four admin pages
- [ ] Country dropdown on program creation

The filter dropdown list for Organizations is currently sorted by create date as far as I can tell. This is currently true for all four admin pages.

<img width="1280" alt="Screen Shot 2019-04-12 at 2 00 39 PM" src="https://u

[2019-04-12 20:50] jennyhavah commented on #1342
Looks good to me, but I'd like to just run this by @hannalcamp because it kind of falls in the realm of communications/training, so want to get her approval on the language, etc.

@RickieT Let's leave this in Doing until she gets a chance to review -- she's on her way back home and will be checking in later today or Monday.

[2019-04-12 20:53] RickieT commented on #1383
**QA - PASSED**
Site data is now displayed, moving to ready for deploy

[2019-04-12 20:57] jennyhavah commented on #1292
Hey @camgnostic Can we get some guidance on how to test this one?

[2019-04-12 22:04] sanjuroj opened #1394 "New country disappears, needs refresh to reappear"
Steps to reproduce:

Create a new country
<img width="1280" alt="Screen Shot 2019-04-12 at 2 47 58 PM" src="https://user-images.githubusercontent.com/6685499/56068092-61149e80-5d32-11e9-8632-5b4b2a4a0c48.png">

After saving, the country appears at the top of the list as expected.
<img width="1280" alt="Screen Shot 2019-04-12 at 2 48 06 PM" src="https://user-images.githubusercontent.com/6685499/560

[2019-04-12 22:14] sanjuroj opened #1395 "Collapse on save in when creating new Country?"
Unlike Program, User, and Org admins, when you add a new Country, the editing window collapses on save, which means you have to click on it to expand again to provide data for the other two tabs. It's possible that fixing the disappearing act the new country does (#1394) will change this behavior, but if it doesn't, would it be better to leave it expanded and enable the two other tabs on save?

[2019-04-12 22:43] sanjuroj opened #1396 "status and history shows old data after Program and Org creation"
When creating an Organization or Program, after creation is successful, if you go to the Status and History tab, the history of the last thing you visited is shown, rather than the history of what you just created.  Examples are below. Users seems to function correctly but should probably be checked.

First visit an existing Organization
<img width="1280" alt="Screen Shot 2019-04-12 at 3 38 04 PM"

[2019-04-12 22:50] jennyhavah commented on #1395
@sanjuroj To make sure I understand, is the expand/collapse behavior different in the other Admin areas, when you add a new thing?

[2019-04-12 22:54] jennyhavah commented on #1394
This sounds _really_ familiar, like something @camgnostic was working on.

@RickieT I know we have other tickets out there tackling similar issues of reactivity, but I think they're all in Ready to Deploy. Can you let us know if this is a regression or a new thing that needs to be tackled?

And are there any other pages in the Admin where something similar could be happening?

[2019-04-12 22:57] sanjuroj opened #1397 "No green success popup after Program or Country creation"
Users and Organizations have a green popup success message when a new entity is created.  Programs and Countries do not.

[2019-04-12 23:02] sanjuroj commented on #1395
Yes, the other Admin areas stay expanded.

[2019-04-12 23:02] jennyhavah commented on #1396
Yikes, the wrong history being shown in the history tab... sounds like something we ought to fix. Moving to This Release.

I wonder if this ought to be tested systematically on any other types of actions besides Creation, and if Users might be affected in some way as well.

Tagging @RickieT to investigate further and @hannalcamp who is back in town!!

[2019-04-12 23:04] jennyhavah commented on #1397
Moving this one to This Release because it's important to have consistent system feedback when an object is created.

[2019-04-12 23:06] jennyhavah commented on #1393
@sanjuroj Is this potentially a duplicate of #1336?

[2019-04-12 23:13] sanjuroj commented on #1393
Ah, yes, partially, I didn't notice #1336.   What may not be highlighted on #1336 (I can't quite tell what the second item on the list is) is the drop downs in the creation/editing of individual records.  How about I just add that to the list on #1336 and close this ticket as a dupe?

[2019-04-12 23:29] RickieT commented on #1394
@jennyhavah Yeah I thought we squashed this... No this was the program page I think - I think its a non blocker for release, because we can still search for it afterword, but it is annoying for sure.

[2019-04-12 23:33] RickieT commented on #1396
@sanjuroj @jennyhavah Yeah I reproduced this issue just now.

Note: This does not occur if when first landing on the page, you click Add Program.

[2019-04-12 23:47] jennyhavah commented on #1393
@sanjuroj Sure, let's do that. Thanks!

[2019-04-13 00:15] jennyhavah commented on #1394
Okay, I think I found them:
#1355 sounds like a similar issue with Organizations, already fixed.
#1379 sounds like a similar issue with Programs, already fixed.

This ticket covers Countries. @sanjuroj can you verify that it's the same issue, and would you mind looking to see if it's the same deal in the Users section?

[2019-04-13 00:17] sanjuroj commented on #1380
Programs, Orgs, and Countries should be fixed now.  @RickieT, I couldn't replicate the non-searchability for Users.  It gets added to the end of the list, so it's hard to scan but I can still search for it.  Can you confirm that this is an issue when creating Users?  If it's not, then this is ready for QA.

[2019-04-13 00:19] sanjuroj commented on #1380
Also, in the original description should this

be this?

[2019-04-13 00:39] jennyhavah commented on #1395
@hannalcamp I'm going to defer to you on this one, not having spent much time in the Admin UI or having a sense of how annoying or confusing this would be.

If you consider it a release-blocker, please move to This Release.
If not, please move to Deferred.

[2019-04-13 00:51] sanjuroj commented on #1394
This is a different issue than #1355 or #1379 (which were quite similar to each other).  Those were both related to the Status and History tab not updating.  This is about a new Country actually disappearing from the main list and reappearing on refresh.

One possible clue is that for the other three Admin types, after creation the newly created item is left in an expanded state and the header row

[2019-04-13 00:56] sanjuroj commented on #1393
Closing in favor of #1336.  Relevant section of this ticket copied over to that one.

[2019-04-13 00:56] #1393 closed

[2019-04-13 01:01] jennyhavah commented on #1394
Thanks for the clarification, @sanjuroj.

@hannalcamp, not being as familiar with the Admin UI, I'll defer to you on whether it's annoying/confusing enough to rise the level of a release-blocker. If yes, please move to the This Release column. If not, Deferred.

[2019-04-13 06:06] sanjuroj commented on #1394
I think the current behavior will pretty confusing for users when creating a new Country, however, since this is probably not something that will be done soon and probably not by anyone other than the Tola team, it wouldn't be terrible to delay this fix.  But if postponed, it should probably be fixed soon after.  My $0.02.

[2019-04-13 18:50] jennyhavah commented on #1394
@sanjuroj Any sense of how much effort it will take to fix? 20 minutes? An hour? Half a day? More?

[2019-04-14 15:14] sanjuroj commented on #1394
Closer to an hour than a day.

[2019-04-14 18:08] sanjuroj opened #1399 "Inconsistent surfacing of Save and Add Another buttons"
- In the PA admin Users and Organizations have "Save and add another" buttons but Programs and Countries don't.
-The Users Save and add another button doesn't result in a blank creation template the way the Organization Save and add another button does
- Save and add another button disappears on Organization form after the first time you've clicked it.

[2019-04-15 15:57] jennyhavah commented on #1399
It does seem odd that two have them and two don't. The one justification I can think of is that adding countries and programs is pretty rare, not something you tend to do in rapid succession. Then again, the same could be said of Organizations... How often does that happen. I'd like to ask @hannalcamp to validate whether or not this discrepancy was intentional.

[2019-04-15 15:57] jennyhavah commented on #1399
This definitely looks to be a bug, as the whole point of that button is to open a new form. I was able to replicate it.

[2019-04-15 15:57] jennyhavah commented on #1399
@sanjuroj Do you mean that when you open up a saved Org profile, that you don't see a "Save and add another Org" button? I believe this is intentional, and it appears to be consistent across sections. I.e. if I add a user and then open the saved user, there's not "Save and add another" button. @hannalcamp can you verify that this is intentional?

[2019-04-15 16:08] RickieT commented on #1380
Yeah, typo there, should be country

[2019-04-15 16:18] RickieT commented on #1380
**QA - PASSED**
* Checked Programs/Countries/Orgs/Users and was able to filter without page reload.

[2019-04-15 16:20] hannalcamp commented on #1399
@jennyhavah Referring to your second comment - when opening a previously-saved profile, it is intentional that the "Save and add another" button is not there. If Sanjuro is seeing that happen even in the blank Add User/Add Organization form, that would be a bug.

In reference to your comment on discrepancy between Add User/Add Organization having the button and Add Program/Add Country not, the dis

[2019-04-15 16:24] hannalcamp commented on #1395
Moving to deferred.

[2019-04-15 16:27] axoplasm commented on #1339
I can replicate the behavior described above but there are some weird edges here that we should consider. This is because SuperAdmins can edit anything via the Django interface or Admin Lite interfaces, but not through the usual end-user UI. The most straightforward example is:

#### Given that I:

1. Am a SuperAdmin
2. do **not** have access to Country X (at User or Basic Admin level) — this is m

[2019-04-15 16:29] RickieT commented on #1399
The only issue I was able to reproduce here was  "Users add another button does not result in a blank creation template"

Programs and Orgs both have "Save and Add Another" buttons, and they give you a blank form and lets you add another after creating each time.

[2019-04-15 16:31] jennyhavah commented on #1399
This is what I see when I click "Add program" -- don't see a "Save and add another button.

![image](https://user-images.githubusercontent.com/33670923/56149288-0a40dc00-5f61-11e9-9c23-13e5a80ce906.png)

 I'm stumped as to why Sanjuro and I would not see it and @RickieT and @hannalcamp can.

[2019-04-15 16:34] axoplasm commented on #1339
Sorry, I just realized I *can* edit indicators and results for a program I have no access to, if I have the URL bookmarked or can reverse-engineer the URL. The only thing I can’t do as a SuperAdmin without User access privileges is view the aggregate country data or see programs on the country landing page

[2019-04-15 16:35] jennyhavah opened #1400 "Users: "Save and add another" button is broken"
Split off of #1399.

In the Users section, the Save and add another button doesn't result in a blank creation template the way the Organization Save and add another button does.

[2019-04-15 16:39] jennyhavah commented on #1399
Programs and Orgs both have "Save and Add Another" buttons, and they give you a blank form and lets you add another after creating each time. Also the one in the org form never disappeared for me.

I created a new ticket -- #1400 -- for the bug that @RickieT was able to reproduce and moved it into This Release, because it is broken functionality that seems like a totally different issue than wheth

[2019-04-15 16:42] sanjuroj commented on #1399
The third potential issue is a little bit different that what you have said you tried so far.  I added reproduction instructions, hopefully that helps.

[2019-04-15 16:43] hannalcamp commented on #1339
@axoplasm And this is due to the back-end fix we had Parthenon do in order to prevent partner users who don't have whole-country access from seeing all programs on the country landing page, correct?

Ultimately I think we will want to do the big lift option 2 in order to make the Super Admin experience cleaner and more straightforward. However, I don't want this to be a release blocker, as the Sup

[2019-04-15 16:45] RickieT commented on #1399
@sanjuroj Yeah, I understand this issue. If you click outside the form on a previously saved program, the "save and add another" option is gone, which I don't know that I'd consider a bug rather than a usability problem.

If you create a new program and then click save and add another, you can do this multiple times, as you are in a creation form. Once you click outside the form I would assume you

[2019-04-15 16:47] jennyhavah commented on #1339
@hannalcamp No objections to deferring The Big Fix.

Regarding a super admin banner, @axoplasm, I think it's pretty clear that I'm a SuperAdmin with this thingie.

![image](https://user-images.githubusercontent.com/33670923/56150181-25145000-5f63-11e9-91be-fd34ae64a6af.png)

I'm also not sure how making it more obvious that I'm a SuperUser adds any clarity as to why stuff appears confusing or brok

[2019-04-15 16:48] jennyhavah commented on #1394
Just chatted with Hanna in Slack and she said that if it's low effort, let's go ahead and fix it. Moving to This Release.

[2019-04-15 16:52] hannalcamp commented on #1342
Messaged to @KennyMonster separately that at first checking this I missed the grey text at bottom at first, and I'm assuming a lot of Admins will be as lazy as I was and not read all the way through to the end. Just hoping we can make that text more noticeable before closing this out, otherwise looks good.

[2019-04-15 16:58] KennyMonster commented on #1342
I changed the grey text to be conditional on the error message, such that it only shows up if a login error is also on display.

Initial login form:

![Screen Shot 2019-04-15 at 9 57 29 AM](https://user-images.githubusercontent.com/1278224/56150976-01eaa000-5f65-11e9-9e23-0bf23aa92ae4.png)

If there is an error logging in:

![Screen Shot 2019-04-15 at 9 57 18 AM](https://user-images.githubusercont

[2019-04-15 17:02] hannalcamp commented on #1342
Looks good to me.

[2019-04-15 17:03] axoplasm commented on #1339
I can also add something like this:

![image](https://user-images.githubusercontent.com/169060/56151234-ac62c300-5f65-11e9-8f83-3e80faf6fada.png)

[2019-04-15 17:06] RickieT opened #1401 "Basic Admin can't edit their own permissions to programs in countries where they are the admin"
I have a test user who is in the Mercy Corps Org and is a Basic Admin for Afghanistan. I attempted to change my access from LOW to medium or High, and was told I did not have permission.

What was even scarier about this, is after **trying to alter my permissions**, I went to the home page, and my **admin access was revoked**

This issue shouldn't even be the case, as Basic admin's for their count

[2019-04-15 17:08] jennyhavah commented on #1342
From a visual standpoint, I think it's a little odd to have some of the message inside the box and some outside, with the form getting pushed down to the bottom.

I would recommend moving the gray text back below the Login button, but keeping it conditional, so that it is still much more noticeable than if we had it there from the start.

[2019-04-15 17:11] sanjuroj commented on #1399
Weird, I can't reproduce that third one now either. So I guess it's fine.

[2019-04-15 17:17] jennyhavah commented on #1339
@axoplasm That means that, as a SuperUser, it will be permanently red... Which I find a bit intense. Even though it's MC red, the combination of reds reads like "alarm" to me.

Also, I'm just not understanding why it's so important to remind ourselves that we're SuperUsers. Outside of this very narrow testing period of time where we're testing roles and permissions, we always login as SuperUsers.

[2019-04-15 17:23] jennyhavah commented on #1399
I agree that we want a "Save and add another button" if you're in the process of adding new Orgs, Users, whatever.

I do NOT think it makes sense to include the "Save and add another" button if you are opening up an already-saved element, to edit it.  "Add another" implies that you just added something. It seems out of context if you're just editing something.

[2019-04-15 17:25] axoplasm commented on #1339
I don't feel strongly about that red background. I also recognize that our Super Admins often give demos from their own accounts and the UI shouldn’t look too crazy for that reason.

Because of the way permissions are kind of layered on top of each other, this particular interface will always lie to the user somehow. IMO it doesn’t so much look “broken,” rather in some cases the lies are more obvi

[2019-04-15 17:32] RickieT commented on #1400
@KennyMonster This is now fixed, but has regressed the fix for the reactivity on the users page in #1380

After I create a few users, they can't be found in the list until the page is reloaded

[2019-04-15 17:35] RickieT commented on #1397
**QA - PASSED**
Programs:
![Screen Shot 2019-04-15 at 10 34 55 AM](https://user-images.githubusercontent.com/23220180/56153016-1f6e3880-5f6a-11e9-8e02-90750bfa6e1f.png)

Countries:
![Screen Shot 2019-04-15 at 10 35 20 AM](https://user-images.githubusercontent.com/23220180/56153041-301eae80-5f6a-11e9-8d3a-8f59290b8a95.png)

[2019-04-15 17:37] jennyhavah opened #1402 "(Some but not all countries) Program metrics different between country page and program page"
This is a release blocker because it appear to be a global issue, affecting the accurate display of metrics.

On Dev2, I'm seeing a discrepancy between program metrics displayed on the Country page and the Program page. Here is an example with a program in Afghanistan.

**Country page**
![image](https://user-images.githubusercontent.com/33670923/56152977-02396a00-5f6a-11e9-8867-606d65acbc61.png)

[2019-04-15 17:45] jennyhavah opened #1403 "Adding and deleting results: Values and rationales not showing up in change log"
These are the steps I took, with the Haiti program Ann Viv Ansanm, I tried this with both a time aware and a midline/endline indicator.

1. Add result.
2. Delete result with rationale.

**Observed:**
1. When I add a result, the value is not included in the change log's "New Entry" column.
2. When I delete a result, the value is not included in the "Previous Entry" column and the rationale is not i

[2019-04-15 17:45] axoplasm opened #1404 "Give Super Admins Basic Admin access to all countries and programs"
This continues from #1339. Currently Super Admins can affect data throughout the app, but cannot see aggregate data on a Country page, or a list of (active) programs on the Country page.

__Proposed:__ Super Admins should have the equivalent of Basic Admin access to every Country, and High access to every program. This equivalent should be reflected in all UIs: Admin Lite, Django Admin, and end-us

[2019-04-15 17:46] axoplasm commented on #1339
The only changes I made here are badges in the page head. I’ve created a new ticket (#1404) for faking full access for Super Admins throughout the app.

[2019-04-15 17:53] jennyhavah commented on #1403
Actually, this turned out to be a usability issue, not a bug: I was thrown by the empty cells in the Previous/New and Rationale rows and thought content was missing from the change log. The content is there, but you have to expand the rows to see them.

I wonder if we ought to have all the rows expanded by default. @hannalcamp What do you think?

Not a release blocker, in any case.

[2019-04-15 17:58] axoplasm commented on #1403
We could add a prompt of some kind, like “expand to see entries” or just an ellipses (…)

[2019-04-15 17:59] jennyhavah commented on #1339
@axoplasm By "badges in the page head" do you mean these?

![image](https://user-images.githubusercontent.com/33670923/56154498-817c6d00-5f6d-11e9-9dff-c9280e16ee73.png)

[2019-04-15 18:00] axoplasm commented on #1339
Yes

[2019-04-15 18:01] axoplasm commented on #1401
Yikes. I replicated this on my local.

[2019-04-15 18:29] RickieT commented on #1339
@axoplasm
So this ticket is just purely adding the badge at the top of the page, and the "faking" you mentioned is being resolved in another ticket?

If thats the case, this passes QA.
![Screen Shot 2019-04-15 at 11 28 16 AM](https://user-images.githubusercontent.com/23220180/56156258-b68abe80-5f71-11e9-974f-35150be67b21.png)

[2019-04-15 18:34] axoplasm commented on #1401
This definitely happened on or around f3b2512. When I revert that commit the error appears to be corrected

[2019-04-15 18:41] RickieT commented on #1361
**QA - PASSED**
* On demo, I am taken to the wiki link, and not the google doc
![Screen Shot 2019-04-15 at 11 41 10 AM](https://user-images.githubusercontent.com/23220180/56157046-64e33380-5f73-11e9-9d9e-46ffa3ad3880.png)

[2019-04-15 18:42] RickieT commented on #1361
@jennyhavah this is fixed on the demo server, however, this ticket is flying in the PAPAYA project, so I'm not sure where we wanna stick this, I'm assuming this should be fixed in all environments at some point, and in production.

[2019-04-15 18:44] jennyhavah commented on #1361
@RickieT My understanding is that this only applies to Demo, and that it is fine in Production.

[2019-04-15 18:48] jennyhavah commented on #1403
@axoplasm What about a "View details" link that communicates that there's stuff to see AND can be clicked to expand the row, just as if you'd clicked the caret?

[2019-04-15 18:52] RickieT commented on #1361
@jennyhavah oh, okay then. nevermind

[2019-04-15 18:56] axoplasm commented on #1403
I'm sure it's possible, I'm not sure it's easy

[2019-04-15 18:58] jennyhavah commented on #1403
@axoplasm If it's hard, then I think ellipses are ok for now, and we can improve in the future.

(With "Expand to see entries", I think people might try to click on it, same as "View details".)

[2019-04-15 19:00] jennyhavah commented on #1404
@hannalcamp I'm moving this to Deferred, based on our conversation in 1339.

[2019-04-15 19:31] jennyhavah commented on #1399
Looks like the only thing remaining in this ticket is to add a "Save and add another" button to the "Add a program" form. I've updated the original ticket and am moving to Deferred. @hannalcamp if I misunderstood and you actually consider it a release blocker, then of course go ahead and update the ticket accordingly.

[2019-04-15 19:51] jennyhavah opened #1405 "Global for all PNotify confirmation and rationale prompts: Auto-scroll page down to make prompt visible"
# Affects
Any place in the app where we prompt for a rationale or for confirmation prior to destructive action.

# Issue
I think that a button is broken because the system doesn't appear responsive, when in fact, there is a warning confirmation or rationale prompt below the fold where I can't see it.

# Acceptance criteria
The form auto-scrolls down so that I can see the confirmation or rationale

[2019-04-15 19:53] jennyhavah commented on #1405
Note: I'm adding this ticket to the release because otherwise, we are likely to get a flood of "THIS BUTTON IS BROKEN" complaints. I, myself, almost filed a "This delete button is broken" ticket just now because I didn't see the prompt and the "Delete all results" button appeared non-responsive.

@camgnostic thinks it will be a relatively easy fix.

[2019-04-15 19:53] RickieT commented on #1342
**QA - PASSED**
* Looks like we're all set here:
![Screen Shot 2019-04-15 at 12 53 26 PM](https://user-images.githubusercontent.com/23220180/56161059-80533c00-5f7d-11e9-9723-079033914602.png)

[2019-04-15 20:21] KennyMonster commented on #1400
This should be fixed now as well. Turns out the codepath for the "Save and add another" was broken and out of sync with the normal save path :(

[2019-04-15 20:23] jennyhavah opened #1406 "Indicator with results / no targets: Result form tool-tip is out of context and there is no messaging that targets are missing"
To reproduce the issue:

1. Create an indicator and add some targets to it -- doesn't matter what kind.
2. Add a result to the indicator.
3. Reopen the indicator setup form, go to the Targets tab, and remove all targets.
4. Now reopen the result form. Note that the "Measure against target" field is empty with the field label highlighted in red -- as it should be.
5. Click the tool-tip next to the

[2019-04-15 20:24] RickieT commented on #1400
**QA - PASSED**
* Reactivity returned
* Template now reset when clicking save and add another

[2019-04-15 20:31] jennyhavah commented on #1402
@camgnostic I poked around a bit more and it's _not_ a global issue. For example, I checked a few programs in Afghanistan and Tolaland that were consistent.

[2019-04-15 21:21] hannalcamp commented on #1342
If it remains conditional on error at login, I think that's fine.

[2019-04-15 21:46] jennyhavah commented on #1392
I looked into this a bit more. It's not just an errant % sign -- a whole row of data is missing, and there's a discrepancy between Production and Dev2. For that reason, I'm moving this back to Papaya.

Here's an example from Jordan's WIT program where program to date info is NOT visible on Dev2 but IS visible on Staging.

![image](https://user-images.githubusercontent.com/33670923/56167216-6f5df70

[2019-04-15 21:53] RickieT commented on #1401
**QA - PASSED**
* This issue no longer occurs as written.
* Changed my permissions as a basic admin for the country I was a basic admin for, and my permissions were changed.
* I retained all of my basic admin privileges regardless of access level to programs within my country.

[2019-04-15 23:55] axoplasm opened #1408 "Possible to create multiple duplicate indicators by rapidly clicking “Save Changes“ on the interstitial (“Custom or DIG”) screen"
This is a bug on __all environments__ including __Production__.

Steps to reproduce:

1. Click on “Add indicator” on a program page
2. On the “Add indicator” page, provide a name and select “Custom indicator”
3. Rapidly click “Save changes” several times.

Result:

![image](https://user-images.githubusercontent.com/169060/56172702-878b4180-5f9f-11e9-9aab-b96d5d2cac91.png)

[2019-04-15 23:58] KennyMonster commented on #1405
So I think I have this done but it's very possible I missed a confirmation box as I'm not super familiar with all of them. It should be easy enough to fix though if there is a case I missed.

[2019-04-16 00:07] sanjuroj opened #1409 "Non-unique program error message doesn't go away until refresh"
When creating a new program, if a non-unique GAIT ID is used, an appropriate error message appears on the field.  However, if you change the GAIT ID and successfully save it, the error message doesn't go away.  It does disappear when the page is refreshed.

[2019-04-16 00:20] jennyhavah commented on #1408
Based on this Slack thread and the thumbs up on my suggestion, moving this ticket to Poblano.

https://mercycorps.slack.com/archives/C4SAGL55M/p1555372916101300

[2019-04-16 01:00] jennyhavah opened #1411 "Use email instead of username to log in"
# Steps to reproduce

1. In the new Admin console, go to any user profile for which you know the login email and password, update the email address and save changes.

2. Open an Incognito window and try logging in with the new email and the old password.

You'll get an error message that the login or password were incorrect. The only way I was able to fix it was by finding the account in Django ad

[2019-04-16 01:13] jennyhavah commented on #1389
Accidentally closed the ticket instead of opening it... Because I'm talented like that.

[2019-04-16 01:16] axoplasm commented on #1395
This is indeed related to #1394 and fixed on the same commit

[2019-04-16 01:38] jennyhavah opened #1412 "Indicator setup form with linked results: Rationale prompts appear when we are not logging the change or the rationale, with wrong success message appearing"
# To reproduce the issue

1. Log in as a user with High permissions.
2. Find an indicator that has linked results.
3. Open up the indicator setup form and make changes to any field _except for_ the Indicator name or anything on the Targets tab. (These are the types of changes we're logging, and they seem to be working as expected.)
4. Click "Save changes". Note that you are prompted for a rational

[2019-04-16 02:26] jennyhavah opened #1414 "Add an event target: Prompted for a rationale"
This issue was discovered by @camgnostic as he was working on event deletion

# To reproduce the issue

1. Find (or create and save) an indicator with one or more Event targets.
2. Reopen the indicator and visit the Targets tab
3. Click "Add an event" button just underneath the target table.

**Expected behavior:** A new event row is added.
**Observed behavior:**

1. I'm prompted for a rationale,

[2019-04-16 02:32] jennyhavah commented on #1405
@KennyMonster Cameron is working on some prompts related to target deletion and indicator deletion. @camgnostic Can you let us know when those are all in place, so that we can make sure they scroll down as expected?

Moving this back to Doing until then.

[2019-04-16 02:37] esinn commented on #1389
@camgnostic When I try to delete an Event target without existing results linked I get the following screen
![image](https://user-images.githubusercontent.com/13574772/56178022-8107c480-5fb5-11e9-9c3c-f0a153ddfeee.png)

[2019-04-16 02:39] jennyhavah commented on #1411
This _seems_ like an edge case that can be deferred, but I want to validate that with @hannalcamp.

What it means for the time being is that if someone were to change their email address and have trouble logging in, a Tola team member would need to help then; their country's Basic Admin wouldn't be able to.

[2019-04-16 03:13] RickieT commented on #1414
**QA - PASSED**

- [ ]  1. If I click "Add an event", a new event row is added, just as it happens on Production
- [ ]   2. If I complete required fields -- event name and target value -- and click Save changes, then:
- [ ]  2.1. IF there are no linked results, THEN I get the usual "Success, form data saved" message.
- [ ]  2.2. IF there are linked results, THEN I am prompted for a rationale AND t

[2019-04-16 03:17] RickieT commented on #1394
**QA - PASSED**
* After creating a country multiple times, I was unable to re-create this issue

[2019-04-16 03:19] RickieT commented on #1395
**QA - PASSED**
* New country stays open on creation now

[2019-04-16 03:27] axoplasm commented on #1392
My notes for the night, will tackle this tomorrow. I bet @camgnostic can go right to this fix.

the component in `indicator_list.js` that renders the results table is `DangerouslySet`ing`InnerHtml` with `resultsStr`.

This loads the `results_table.html` template, which renders this using the `target_percent_met` (`target-percent-met.html`) template tag. So far so good.

__here’s the breakdown:__ t

[2019-04-16 15:26] hannalcamp commented on #1382
@jennyhavah Fleshed out!

One note: We always ask for a rationale when changing the start/end date of a program even if there are no indicators, let alone targets set up or results reported. This seems like overkill, but not a big deal yet and one we could get feedback on.

[2019-04-16 15:42] jennyhavah commented on #1382
Thanks, @hannalcamp!

@camgnostic As we were hoping, all of the logic is around whether or not there are linked results. So my understanding is that this would be a pretty trivial thing to add.

If yes, please feel free to grab it out of Deferred and into Doing. I will leave it in there for now because it's definitely not a release blocker.

[2019-04-16 15:52] jennyhavah commented on #1392
@camgnostic Assigning to you not to pile more tickets on, but just to make sure you have a chance to look before we act, as Paul said this is related to something you've been working on. He's happy to keep working on it -- just let us know.

[2019-04-16 15:54] sanjuroj opened #1418 "Add GAIT date fetching to test plan."
We would like the current behavior from the Django admin to be replicated in the new PA admin.  There are several key features of the current behavior.
- When a program is saved, the GAIT ID entered by the user is used to query the GAIT database and the program start and end dates are extracted from that information
- The dates are used to populate both the "GAIT program dates" and "Program start

[2019-04-16 17:13] esinn commented on #1409
Does the green successfully appear or not once it's saved? @RickieT

[2019-04-16 17:24] hannalcamp commented on #1399
Nope, I'm good.

[2019-04-16 17:42] axoplasm commented on #1411
This is due to two issues:

1. Django admin only lets you log in with your username
2. Users created via admin lite automatically get their username assigned as the email given when the user is created.

So I’m not logging in with my *email* I’m logging in with my *username* which just happens to be the exact same string of characters as my email. When an admin changes the email field they are not

[2019-04-16 17:44] axoplasm commented on #1411
per @KennyMonster: Duplicate & empty emails:
![image](https://user-images.githubusercontent.com/169060/56231925-717b9080-6034-11e9-85ba-f670e519ce4b.png)

[2019-04-16 17:52] axoplasm commented on #1411
Looks like emails are required and there is some enforcement of uniqueness in `tola/admin.py`. Doesn’t mean those are enforced in the DB though. I’d guess those ~30 or so users were created before this was built into the admin.

[code]

[2019-04-16 18:14] RickieT commented on #1370
**QA - PASSED**

### Scenario 1: Delete an indicator that was added without completing the setup process

- [x] 1. I see a red PNotify warning in the lower left corner with the following text:
Warning
This action cannot be undone. All details about this indicator will be permanently removed.
Are you sure you want to delete this indicator?

     ![image](https://user-images.githubusercontent.com/33

[2019-04-16 18:29] jennyhavah opened #1419 "Gas tank charts: Edit "Add missing..." links to be role agnostic"
Affects: Country page and program pages

# Issue
1. Right now, a user with Medium permission sees a link implying that they can add missing targets, which is a lie.
2. Right now, a user with Low permission sees links implying they can add missing targets, results, and evidence, all lies.

![image](https://user-images.githubusercontent.com/33670923/56234545-5c096500-603a-11e9-9219-c5f13b0597db.png)

[2019-04-16 18:31] axoplasm commented on #1411
OK. I think we can do this:

1. Clean up the ~30 addresses that violate uniqueness/nullness. I suspect these are all inactive.
2. Add DB constraints to enforce uniqueness and NOT NULL on the email field. This will probably require:
    1. bypassing the ORM (?)
    2. adding error handling for the edges (e.g. `manage.py`) where users might be created outside the admin interfaces
3. Create a custom

[2019-04-16 18:42] axoplasm commented on #1411
Here are the problematic emails per a recentish (about a month old) DB dump:

![image](https://user-images.githubusercontent.com/169060/56235610-9b38b580-603c-11e9-8dcd-289246321bd3.png)

Only users `iprayoga`, `flfatima`, and `ashoukat` have logins in the last 18mos

[2019-04-16 18:42] jennyhavah opened #1420 "Country page: When a country has one program, it says "One active programs""
This not a Papaya-specific regression, but it is likely to be seen much more often once we start giving external users access to a single program.

![image](https://user-images.githubusercontent.com/33670923/56235528-747a7f00-603c-11e9-9024-799dc6bd1bec.png)

# Acceptance criteria

- [ ] 1. When the country page is only showing one program, it says "One program"
- [ ] 2. This is fixed in Spanish a

[2019-04-16 18:46] jennyhavah commented on #1419
@axoplasm @hannalcamp I put this in Deferred, but let me know if you feel we should include it in the release.

[2019-04-16 19:27] hannalcamp commented on #1411
I'm in favor of the solution you documented - I think there's a chance (small) that partner users will need to have their email changed, or corrected after initial entry by an admin. Having the email be the username to me is the simplest way to handle those edge cases. But I agree it's not a release blocker.

[2019-04-16 19:31] KennyMonster commented on #1405
@jennyhavah It occurred to me that the scroll to bottom functionality is only working on the modal version of the indicator update form, and not the full page version. If I remember right, this full page version is going away in Satsuma. Would be ok to not implement this for the full page version?

[2019-04-16 19:36] jennyhavah opened #1421 "Evidence URLs in program change log: Display actual URLs and open links in a new tab"
**Affects:** Program change log linked from the IPTT

# Story
When I am auditing anything related to evidence in the change log, I can easily compare two URLs side by side to see what's different. And when I click on the URL, I can expect the link to open in a new tab, just like it does on the program page.

![image](https://user-images.githubusercontent.com/33670923/56238774-1d78a800-6044-11e9-8d

[2019-04-16 20:06] axoplasm commented on #1378
Here's a lead: https://docs.djangoproject.com/en/1.11/topics/auth/passwords/#password-validation

[2019-04-16 20:08] jennyhavah opened #1422 "Change log: Tweaks to title area for clarity and navigation"
**Affects:** Change log linked from IPTT

# Summary
I had originally suggested that the page title for our change log be "Program change log". Right now it's called "Indicator change log." This seems too narrow -- we also track changes to results, and in the future, we'll be tracking changes to program logic that may not even have indicators linked to them yet. (See #1282.)

Additionally, once you

[2019-04-16 20:19] RickieT opened #1423 "Deleted indicator remains on page if user navigates away, returns"
I think as a side affect of #1370 this issue may have spawned, but I could be wrong. Onto the issue:, see media:
1. I Deleted an indicator, was given proper warning confirm, and the indicator disappeared from the program page.
2. I then navigated to the Recent progress report page, and then hit the back button to return.
2. The indicator I deleted remained on the page when I returned after viewing

[2019-04-16 20:23] jennyhavah commented on #1423
@Rickie Thornley Looking at your screen capture, is it possible you’re not seeing @cameron’s most recent code? I remember him talking about these “ghost indicators.”

Cameron, is this already covered in some of the work you did in the last couple of days that isn't yet deployed to Dev2?

[2019-04-16 20:34] RickieT commented on #1389
**QA - FAILED**
* The message displayed when attempting to remove an event with linked evidence does not meet the required message in the criteria for this ticket, which should read: "Warning
This action cannot be undone. Removing this target means that [#results] result[s] will no longer have targets associated with it.
For future reference, please provide a rationale for deleting this target."
!

[2019-04-16 20:39] axoplasm commented on #1378
Per @RickieT:

[2019-04-16 20:44] jennyhavah commented on #1405
@KennyMonster I just now was testing deletion on that full page form and momentarily thought I had an unresponsive system... because the warning was out of sight.

If it is not more than 15-20 minutes to implement, I'd say it's worth doing. It could be end of June before Satsuma is released.

[2019-04-16 21:00] KennyMonster commented on #1405
I ended up implementing on the full page indicator form, so this can be tested now as well.

[2019-04-16 21:02] jennyhavah opened #1424 "Resolving lingering issues around event target deletion"
This issue was raised by Cameron and Rickie in the process of developing and testing #1389.

**Affects:** _**Saved**_ event targets with no result linked to them.

# Issue
When I delete an individual event, I am not prompted for confirmation. When I click "Remove all targets", I am prompted. This feels oddly inconsistent, since removing the last target is the logical equivalent of clicking "Remove

[2019-04-16 21:04] jennyhavah commented on #1424
@RickieT Just filed this, based on your feedback. Cameron asked that I put it in a separate ticket from 1389.

This is NOT a release blocker, but @camgnostic just want to bring this to your attention on the off chance that 1389 is giving you headaches and this is actually easier to implement.

[2019-04-16 21:18] jennyhavah commented on #1378
Carrying this over from Slack thread: https://mercycorps.slack.com/archives/C4SAGL55M/p1555446806140800

This is the page where an end user resets their password:
https://files.slack.com/files-pri/T02FWKRC6-FHY3JF2FP/screen_shot_2019-04-16_at_2.11.49_pm.png

We need to introduce password security rules to this page. @axoplasm has some ideas for this, including setting a minimum character length.

[2019-04-16 21:20] RickieT opened #1425 "Implement password reset link from login page"
Currently the only way for users to reset their password if they forget it, or feel it is compromised, is to request a registration email to be sent to their email, as done ONLY by a basic admin or super admin.

We want the user to be able to access this tool from the login page, and remove the burden from basic admins, should they not be available to do such a request at a moments notice every ti

[2019-04-16 21:21] KennyMonster commented on #1335
The multiselect for the Countries filter when editing Programs and Roles on the Users admin page has been updated.

[2019-04-16 21:22] camgnostic commented on #1389
That's what I'm seeing on dev2 (screenshot attached) . Are you positive in your test case you had results attached?  Can you give me a step-by-step recreate so I can find the edge case you bumped into?
![Screen Shot 2019-04-16 at 2 22 34 PM](https://user-images.githubusercontent.com/7941355/56244984-1f963300-6053-11e9-84d9-10c8d8ff9985.png)

[2019-04-16 21:25] jennyhavah commented on #1425
For additional context, this ticket came out of discussion on #1342.

Ken's comment copied for easy reference:

[2019-04-16 21:27] RickieT commented on #1389
**QA - PASSED**
* Scenario 6 is now passing, additionally, with the rest of the scenarios in this ticket. Moving to deploy ready
![Screen Shot 2019-04-16 at 2 26 05 PM](https://user-images.githubusercontent.com/23220180/56245199-a814d380-6053-11e9-82bd-a9a7357600c3.png)

[2019-04-16 22:21] RickieT commented on #1409
Successful save message appears no matter what I put in the field it seems, but **also does appear** if you try the duplicate, and change it as @sanjuroj wrote in the ticket.
![image](https://user-images.githubusercontent.com/23220180/56247869-1b6e1380-605b-11e9-92b2-0497915d6cda.png)
![image](https://user-images.githubusercontent.com/23220180/56247922-3e002c80-605b-11e9-9425-b10ae1f507c5.png)

[2019-04-16 22:42] camgnostic commented on #1423
Investigated this today.  It... is not an easy fix.  Will require overhauling how the program page calls for initial data.  (Before another dev comes in and repeats my trials, things I tried to get the program page to reload stale data:
 - cache-control headers
 - all cache-related meta headers
 - window.onpopstate, window.onpageunload, window.onpageshow listeners looking for various settings (in

[2019-04-16 23:07] camgnostic commented on #1424
Implementing this I ran into a problem:
if you delete a SAVED event target, you get a prompt (no rationale) and clicking okay deletes it.  Then when you hit save, a different prompt from another part of our rationale logic detects that targets have changed and prompts for a rationale.  The target has already been deleted at this point, so even if you hit cancel and close, the target remains delete

[2019-04-16 23:07] camgnostic commented on #1424
Tagging @jennyhavah as this is confusing

[2019-04-16 23:27] jennyhavah commented on #1423
Update: Cameron and I just chatted on Slack. Both of us are inclined towards 3, because 2 doesn't fully solve the problem and 1 has regression risks.

One thing that would help in a small way would be to have a more informative error message. Instead of "404 Not found", we could say something like "Indicator was recently deleted." We apparently only "soft delete" and so this could potentially be a

[2019-04-16 23:35] RickieT commented on #1396
**QA - PASSED**
* I am no longer able to reproduce the issue as written.

[2019-04-16 23:42] KennyMonster commented on #1412
I ended up implementing the "Potential alternative" solution. The ideal solution is doable, but is a much heavier lift than I would like to do towards end of day before a desired release.

If nothing else comes up tomorrow I can work on it then.

[2019-04-17 00:15] jennyhavah opened #1427 "Indicator setup form: Do not prompt for a rationale all the damn time"
This work is split off #1412.

**Affects:** Indicator setup form

# Issue
When an indicator has linked results, we are currently prompting for rationales any time you click the "Save changes" button... not only when you change the specific fields we're actually tracking. It even prompts for a rationale if you've changed _nothing at all!_

# Acceptance criteria

- [x] 1. For an indicator **_with li

[2019-04-17 00:16] jennyhavah commented on #1412
Thanks, Ken. I split the more desirable behavior into a separate ticket -- #1427 -- so that we can close this one as soon as it tests OK, without losing sight of what we really want.

[2019-04-17 00:18] jennyhavah commented on #1427
@hannalcamp Can you please review and let me know if this looks good to you? In particular, my suggestion that we continue logging changes to other fields, with explanatory text when a rationale is not required... and then the wording of that text.

[2019-04-17 01:36] hannalcamp commented on #1427
@jennyhavah It mostly looks good to me, though if it turns out we actually can delineate between changes to individual fields when the button is clicked, shouldn't we also disregard changes to the "Rationale for target" field in the Targets tab, as it is not required?

I think 1382 provides all the explanatory text we need at the moment, correct?

[2019-04-17 01:40] jennyhavah commented on #1409
@axoplasm Do you have time to look at this to let us know how easy/hard it would be to fix? It seems like a fairly edgy edge case, so I don't think it rises to the level of release blocker. But I think it's worth at least spiking on to see how big of an issue it is, before we move it into Deferred.

[2019-04-17 02:09] jennyhavah commented on #1412
@KennyMonster I seem to be consistently getting the _wrong_ error message, whenever I edit a saved indicator. This one:

![image](https://user-images.githubusercontent.com/33670923/56255802-0d2fef80-607b-11e9-87a1-707d66791f19.png)

That is the message I expect when I've just added the indicator. The one we want is the second one displayed in the original ticket.

[2019-04-17 02:55] sanjuroj commented on #1382
@jennyhavah  The table above lists a different message for each type of non-rationale-requiring change.  Would it be sufficient to just have a generic message in the rationale field, something like "A rationale is not required for this type of change"?  We will already be displaying the fields that are being changed, so reiterating that change in the rationale message might be unnecessary?  And it

[2019-04-17 13:40] axoplasm commented on #1409
Sure thing, I can check on it later this (Weds.) morning.

[2019-04-17 16:03] jennyhavah commented on #1382
@sanjuroj Having a generic message was our original thought, but it doesn't seem like much of an improvement over leaving it empty, and might just generate more confusion... Because why would a rationale be required for _this_ target change and not _that_ target change? The explanation clarifies that it's because results are not linked.

Cameron thought that as long as the logic used to determine

[2019-04-17 16:11] jennyhavah commented on #1427
Good point. Asking for a rationale for changing the rationale seems a bit trippy. Updated.

@hannalcamp What if an indicator has linked results and they modify one of the fields we are not prompting for? 1382 only deals with whether or not there are linked results.

[2019-04-17 16:20] KennyMonster commented on #1412
I missed a spot. I think this should be good now.

[2019-04-17 16:20] RickieT commented on #1402
**QA - FAILED**
* Though I did find in the reported in this ticket (afghanistan) programs matched 100% between home/program page, I am still seeing a slight difference like this one in Haiti:

![image](https://user-images.githubusercontent.com/23220180/56304009-fb3d6380-60f1-11e9-8da7-6328548ce193.png)

[2019-04-17 16:43] axoplasm commented on #1378
Peripheral issues here are related to #1411 . Perhaps we need to start an epic for login/auth flow.

The only salient problem for *this ticket as read literally* is

I propose:

1. Minimum length (maybe 12 characters?)
2. Django’s attribute similarity filter (checks against username, email, other fields on user.auth & classes that inherit User)

It’s been a few years but the last time I had to do

[2019-04-17 16:47] axoplasm commented on #1411
This is closely related to #1378. Maybe we should make this an epic & defer?

[2019-04-17 17:09] hannalcamp commented on #1427
Right! I'll update #1382

[2019-04-17 17:24] RickieT commented on #1392
**QA - PASSED**
* Checked multiple programs, all showing program to date now (Where applicable) :
![image](https://user-images.githubusercontent.com/23220180/56307963-f5984b80-60fa-11e9-9337-2ef1325ca5fd.png)

[2019-04-17 17:25] RickieT commented on #1335
**QA - PASSED**
We've got the new multi select under roles now in users well:
![image](https://user-images.githubusercontent.com/23220180/56308042-2a0c0780-60fb-11e9-941a-d193eb09dbf5.png)

[2019-04-17 17:28] KennyMonster commented on #1424
@camgnostic I think I may know how to work around the above wonkyness

[2019-04-17 17:54] jennyhavah commented on #1424
Holy hell was that confusing. First I'll share my conclusions, and then explain how I got there. So in the case of an event indicator with linked results to ANY of its targets:

1. We DO prompt for a deletion rationale at the time you delete an individual event, _regardless of whether or not that specific event is the one with the linked result._ 

2. If the specific event being deleted does NOT h

[2019-04-17 18:17] jennyhavah commented on #1378
@hannalcamp Okay to defer this ticket, as it is related to 1411 that you moved to Deferred?

[2019-04-17 18:26] jennyhavah commented on #1409
@axoplasm Let's hold off for a moment. We have a slack thread going about eliminating the non-duplication requirement and simply warning you of it instead. Will update this ticket when we've come to a conclusion.

[2019-04-17 18:30] jennyhavah commented on #1424
This ticket is no longer about "one weird little deferrable inconsistency" but more generally about tying up loose ends around event deletion. I've updated the title accordingly and -- after checking in with Cameron -- am moving it into This Release.

[2019-04-17 18:32] jennyhavah commented on #1423
@KennyMonster Actually, if you have time to grab this last bit with the error message and let us know if it's easy or not, it would be much appreciated! Cameron's going to be working on event targets for a while longer...

[2019-04-17 19:04] hannalcamp commented on #1378
Yep good to defer.

[2019-04-17 19:43] camgnostic commented on #1402
Update: this issue revolves around an edge case: we have an indicator in this program for which all targets are 0.  That means that while we can calculate a target (0) for the program to date, and an actual value (in this case, 14) for the program to date, we can't calculate the % over/under to determine if it's on track.  So it falls through the cracks, where it doesn't get counted as unavailable

[2019-04-17 20:00] KennyMonster commented on #1423
@jennyhavah I think I found a reliable way for the page to detect if it is being loaded from a disk cache, and to reload it self to ensure the data is up-to-date. This fixes the problem testing locally. The downside of course is we are bypassing the cache which exists to help with performance, especially for those on slowish internet connections. So it's a performance vs correctness tradeoff.

I t

[2019-04-17 20:32] jennyhavah opened #1429 "Adding a program: GAIT ID does not have to be unique"
This ticket replaces #1409.

This issue was reported by Marie in Slack:

# Acceptance criteria

**Preconditions:**
1. I've opened the Programs section of the new admin console and clicked "Add Program".
2. I've entered a GAIT ID shared by another program already in Tola.
3. All other required fields are complete.
4. I click "Save changes".

- [x] 1. I get a confirmation prompt with the following t

[2019-04-17 20:36] jennyhavah commented on #1409
After hearing from Cameron, Emily, and Sanjuro that there are no M&E or technical reasons why we must prohibit duplicate GAIT IDs, we've decided to lift this restriction to address valid use cases for programs sharing IDs. I've filed ticket #1429 that replaces this one, and am closing this ticket.

@RickieT heads up that for testing purposes, we no longer need to validate that this ticket passes.

[2019-04-17 20:36] #1409 closed

[2019-04-17 20:43] RickieT commented on #1402
@camgnostic so whats the resolution on this, since this was moved back the dev2 environment has been updated and im still seeing this minor difference

[2019-04-17 20:51] jennyhavah commented on #1429
Note for prioritization purposes: Marie says that the current prohibition on duplicate GAIT IDs is "not a showstopper." However, if we do not implement this ticket, we're also not addressing the issue described in #1409.

@KennyMonster Can you give us a picture of how challenging / time consuming this will be to implement?

[2019-04-17 21:02] jennyhavah commented on #1402
@camgnostic  and I came to the resolution that in the very edgy edge case where the sum of periodic targets = 0, the indicator is treated as "unavailable."

As to why you're still seeing the discrepancy on Dev2, not sure. Cameron?

[2019-04-17 21:05] RickieT commented on #1405
**QA - PASSED**
* Indicator modal scrolls down
* Indicator page (when creating new) scrolls down as well for the confirmations

[2019-04-17 21:07] RickieT commented on #1261
**QA PASSED**
* I'm comfortable passing this now, I've been across the whole site during my test pass and haven't come across any isssues with styling that were not already reported and fixed

[2019-04-17 21:12] RickieT commented on #1289
@axoplasm I've been through pretty much the entire site while executing the test cases for PA - I did not see anything stand out other than what we've already reported as styling issues and other things that may have been a cause of changes in this ticket. I think this is probably safe to move to deploy ready? Unless there is anything you can point out I can directly focus on

[2019-04-17 21:13] jennyhavah commented on #1423
@KennyMonster would the page cache be disabled / page reloaded ONLY if you're using the back button, or would the reloading happen at other times as well?

More broadly, I want to make sure we're not interfering with the React-iveness of the page as a whole, just to address this back button issue.

[2019-04-17 21:19] RickieT commented on #1412
@KennyMonster was the solution to log everything? i was prompted for changing the "number" under the performance tab, and this is what the log showed:
![Screen Shot 2019-04-17 at 2 18 55 PM](https://user-images.githubusercontent.com/23220180/56321543-c47c4300-611b-11e9-8a5a-ef73b04560a2.png)

[2019-04-17 21:21] KennyMonster commented on #1429
@jennyhavah This is probably 1-3 hours assuming I'm not missing something. It would involve:

* Removing the DB unique constraint
* Verifying there are no other places in the code base assuming that gaitids are unique (for instance calling `Program.objects.get(gaitid=id)`)
* Adding in the confirmation prompt

[2019-04-17 21:26] KennyMonster commented on #1423
The reactiveness shouldn't be affected. The check happens on page load: if the page was loaded from the disk cache instead of the network, it force reloads from the network. Otherwise it should work as-is.

[2019-04-17 21:58] jennyhavah commented on #1429
Chatted with @KennyMonster offline. He's going to see if he can take care of removing the restriction at a minimum -- the easier part. That also takes care of the dangling loose thread that is #1409.

If the link to GAIT turns out to be significant effort, we'll defer that piece of it.

[2019-04-17 22:17] KennyMonster commented on #1412
@RickieT Correct. The rationale shows up, but the previous/new fields are blank since none of the "tracked" fields changed. We can add better UI checking in the future, just didn't want to do it while pushing for release.

[2019-04-18 00:34] jennyhavah commented on #1412
Hmm.. My "alternative" suggestion was to "at least log the changes so you can see the rationales you took the trouble to enter."... I guess I assumed that it was an "all or nothing" thing where we'd start showing not only the rationale text but also the actual changes.

I'm gathering from @KennyMonster 's comments that including the actual changes would be a significantly higher level of effort. U

[2019-04-18 01:05] jennyhavah opened #1430 "Indicator setup form: I can't save changes to indicators without linked results"
Notes:
1. Can't reproduce the issue on Production -- it seems to be a Papaya problem.
2. This problem only appears to affect saved indicators with no results

# To reproduce the issue

1. Be logged in as SuperUser or someone with High permissions for the Tolaland program called "QA Program --- No Results Here"

2. Visit the program page: https://tola-activity-dev2.mercycorps.org/program/612/#/

3.

[2019-04-18 01:08] jennyhavah opened #1431 "Change logging: Changes are not being logged for LoP only indicators"
# Reproduce the issue

1. Open up settings for a LoP only indicator _with linked results._

2. Make changes to the indicator name or targets -- the things we're supposed to be logging when there are linked results.

3. Click "Save changes", enter a rationale and click "OK".

4. Open up the program's change log.

I'm not able to produce any change logging for LoP-only indicators, at all.

[2019-04-18 03:20] jennyhavah commented on #1412
@KennyMonster Any idea why the "Rationale for target" field is showing up when I make a non-tracked change and enter a rationale? ("Rationale for target" is a longstanding free-form text field that has nothing to do with the introduction of change logging and rationales for changes.)

![image](https://user-images.githubusercontent.com/33670923/56334624-e8f11300-614d-11e9-9aa9-b623973c5cf6.png)

[2019-04-18 03:50] jennyhavah commented on #1382
@hannalcamp I crossed out the last row because it turns out that it would require substantial additional effort to start tracking and logging changes to all fields, regardless of whether or not we prompt. Since we don't actually care about logging changes to every field, it doesn't seem worthwhile to put in that extra effort.

[2019-04-18 04:02] jennyhavah commented on #1427
@hannalcamp So, regarding this piece that was previously in the ticket:

I was originally under the impression that it would be easier to log _all the things_ and just limit when you get prompted. That turned out not to be the case.  Logging _all the things_ is actually a substantial amount of extra work, independent of whether or not we prompt for rationales. Since it was never a goal of ours to

[2019-04-18 04:13] jennyhavah commented on #1412
@hannalcamp @KennyMonster So, after chatting with both of you in Slack, this is where I'm leaning:

1. Ken reverts the "force save" flag he added, that is resulting in all new entries being saved to the log even if the changes are not to tracked fields. While I appreciate that it saves words users type, I think it's ultimately the wrong direction to go... It doesn't solve the problem of being prom

[2019-04-18 14:44] hannalcamp commented on #1427
@jennyhavah that seems fine to me. I had also assumed logging all the things would be an easier resolution to the rationales-prompted-but-not-displayed issue than limiting rationale prompts. If the latter is easier, that's good

[2019-04-18 15:58] RickieT commented on #1402
@jennyhavah @camgnostic Perhaps the test environment was not up to date as expected at the time of test, but checking this morning - it looks to be this has been resolved..
![image](https://user-images.githubusercontent.com/23220180/56374475-1a9ec400-61b8-11e9-8d22-eff17d30a676.png)

[2019-04-18 16:16] RickieT commented on #1423
**QA - PASSED**
* This issue no longer persists as written, mostly. The deleted Indicator will disappear in just a quick second once returning to the page, so I think this gets a passing grade.
![passed](https://user-images.githubusercontent.com/23220180/56375483-82eea500-61ba-11e9-8d9c-6f6a4941fe71.gif)

[2019-04-18 16:18] jennyhavah commented on #1402
@camgnostic What's the best way for us to validate that this is fixed across all programs?

I know one way to reproduce the problem is to modify an indicator with results, so that the targets are all zero.

Is there something else we can check?

[2019-04-18 16:27] axoplasm commented on #1430
I assume I'm editing an indicator, e.g changing its name?

[2019-04-18 16:33] jennyhavah commented on #1430
@axoplasm For me, it didn't matter what field I edited, I couldn't save.

[2019-04-18 16:41] RickieT commented on #1418
1. If a valid GAIT ID is entered (2 that I stole from other programs after deleting them) and saved, when I return to the program page or country page in which the program was created, the GAIT program dates say "Unavailable". Neither program or gait start/end dates were populated

2. Regardless of what is entered as a "GAIT ID", there is no messaging displayed, only displays and error if the ID i

[2019-04-18 16:44] axoplasm commented on #1430
Ken has fat fingers

[2019-04-18 17:34] jennyhavah commented on #1430
It's also harder to type with an adorable baby in the crook of one arm.

[2019-04-18 17:44] RickieT commented on #1402
@jennyhavah the haiti program in production is having the same issue, as we do in dev2, just an fyi

[2019-04-18 18:02] axoplasm commented on #1378
For the moment we'll resend the registration email for password resets. While I'm in here I can update this screen

![image](https://user-images.githubusercontent.com/169060/56381355-745bba00-61c9-11e9-8f1d-f4f05450f3b5.png)

[2019-04-18 18:33] RickieT commented on #1430
**QA - PASSED**
* Clicking save changes on an indicator without making any changes provides a successful save message
* Editing fields / names/ etc and clicking save provides a successful save message

Looks like this one is fixed, can't reproduce any longer following the steps.

[2019-04-18 18:42] jennyhavah opened #1433 "Indicator setup form: % sign oddities every other time you open the form"
This is a contender for weirdest bug I've ever seen.

I was looking at a saved percentage indicator and noticed some % sign oddities when toggling between % and #. The % signs did not go away when I toggled to # and the LoP target had the number and % sign overlapping, like so:

![image](https://user-images.githubusercontent.com/33670923/56383689-4da08200-61cf-11e9-8cb0-8b925cd806f8.png)

I close

[2019-04-18 19:14] camgnostic commented on #1402
For reference - there are three issues here:
1) Haiti Ann Viv Ansam program: if all your targets are zero the system was having trouble categorizing the indicator as "reporting" or "on target" or what.  We fixed that (it shows up in the "unavailable" category now)
2) Afghanistan program: Papaya-related soft-delete was breaking query logic for generating the home page data rollups, resulting in it

[2019-04-18 19:24] camgnostic commented on #1424
Moving this back to This Release while @KennyMonster works on the holistic "why are rationale prompts so wacky?" question

[2019-04-18 19:44] RickieT commented on #1402
**QA - PASSED**
* Awesome, checked all the reported issues in this ticket, and all of the metrics matched.
* Checked numerous other programs in other countries for continuity, and was not able to find anymore discrepancies.

[2019-04-18 19:47] RickieT commented on #1292
@camgnostic we're still looking for update on this one.

[2019-04-18 20:11] axoplasm commented on #1378
This applies two security policies to passwords set either in the Django admin or the registration email (above). The policies are:

* At least 9 characters
* Not similar to email, first name or last name fields

 I had to write a custom error message for the second policy: *“The password is too similar to information in your user profile.”* Please advise if we'd like to do something a little diff

[2019-04-18 20:32] axoplasm commented on #1411
This comment from #1342 succinctly covers work we’ll need to do to smooth the Django auth flow:

@jennyhavah An error message on failed login should be easy enough.

Password reset workflow is a whole thing though, and wanted to verify that the stock Django workflow is desired and worth the time investment. From memory, I think the workflow is:

[2019-04-18 21:37] jennyhavah commented on #1378
@axoplasm Sounds good! My only suggestion is to be more specific in the warning for the second policy, because most end users don't know what's in their profile. (Only admins can see those.) Alternative suggestion:

Please enter a password that does not include elements of your name or email.

[2019-04-18 21:48] jennyhavah opened #1436 "Result form: Low-access users can access the "Browse Google Drive" link"
**Affects:** Someone with low-level permissions for a program, accessing a results form

# Issue
As a person with low-level access to a program, I only have view permissions for the results form. Currently, the "Browse Google Drive" link is visible to me, which doesn't make sense since I can't attach evidence and would have no other business browsing Google Drive in this context.

# Acceptance cri

[2019-04-18 21:55] jennyhavah opened #1437 "Result form: Low-access user cannot see selected sites"
**Affects:** People with Low access to a program who are browsing Results

# Issue

As someone with view-only permission for results, I should be able to see any Sites linked to a result. Today, they are not displayed.

![image](https://user-images.githubusercontent.com/33670923/56393534-9c5b1580-61e9-11e9-8e23-f8dbbdee4690.png)

# Acceptance criteria

For a Low-access user, the following is true

[2019-04-18 22:13] jennyhavah opened #1438 "Country strategic objectives: Wrapping funny"
This may be the same issue described in #1384.

There is one screen in the Admin where I'm still seeing the funny wrapping: Countries > Country > Strategic Objectives. I think the problem may be, at least in part, because we don't permit the strategic objectives to wrap.

![image](https://user-images.githubusercontent.com/33670923/56394502-666b6080-61ec-11e9-8962-585295420909.png)

[2019-04-18 22:14] jennyhavah commented on #1438
@axoplasm This is not a release blocker, but wanted to give you a chance to look at it and make the call on whether to tackle it now or defer.

[2019-04-18 22:36] jennyhavah opened #1439 "Indicator setup: Low/medium users can't open multi-selects to observe what is selected"
**Affects:** Low- and Medium-access users viewing a program indicator setup form.

# Issue

If I am someone with low or medium access to a program, I only have _view access_ to the indicator setup form. Disabled multi-select forms are currently inaccessible to me, even for viewing purposes, when more than one item is selected. I cannot open these menus to see what the options are and which of them

[2019-04-18 22:53] jennyhavah commented on #1378
Moving back to Doing until @axoplasm takes a look at my suggested text tweak.

Also, Paul, how do I go about accessing this page to QA the validation?

[2019-04-18 22:58] axoplasm commented on #1378
1. With a superuser admin account, create a new user account with a throwaway email address that you have access to
2. New user should receive an email with a link to the reset page
3. log your superuser out and click on the link

If you need to test it again, you can click "resend registration email" on the status tab for the new user.

Try the following variations:

1. passwords don't match
2. p

[2019-04-18 23:11] jennyhavah opened #1440 "Indicator setup form: Country strategic objectives menu includes options from all countries"
# Issue

In the Summary tab of the indicator setup form is a Country Strategic Objectives (CSO) menu that includes options from _all_ countries, not just the ones created for the country/ies with which the program is associated. This is problematic for several reasons

1. The person entering CSO's for the country may not realize they need to (or may prefer not to) include the country name in the t

[2019-04-19 02:39] jennyhavah commented on #1429
PASSED. I've tried adding several programs with duplicate GAIT IDs. The prompt is working as expected, and the link to GAIT brings up the correct program.

[2019-04-19 02:39] jennyhavah commented on #1429
Heads up to @axoplasm that this is a new prompt that will need styling along with the other PNotifys. Here's how it looks at the moment:

![image](https://user-images.githubusercontent.com/33670923/56402311-9711c100-6211-11e9-8a7a-759dd14adbf1.png)

[2019-04-19 02:41] jennyhavah commented on #1438
PASSED. The page is no longer jumping below the nav bar, but slipping behind it, like on the other Admin pages.

![image](https://user-images.githubusercontent.com/33670923/56402358-dd672000-6211-11e9-84da-da2fd86dbbd9.png)

[2019-04-19 02:42] jennyhavah commented on #1292
Checked in with Cameron on Slack, and he said "That should be covered by automated testing- I wrote tests for all endpoints I could find."

I think we can consider this done.

[2019-04-19 03:10] jennyhavah opened #1441 "Add program: Some funkiness around validating required fields"
When adding a new program, I found some validation oddities.

## Leave out the country

Fill out all required fields except for country and submit.

**Expected:** I get an error message telling me to complete the field.
**Observed:** The page briefly flashes but I get no error message or any other system response.

## Leave out the funding status

1. Fill out all required field except funding stat

[2019-04-19 03:12] jennyhavah commented on #1441
@hannalcamp I'm assigning this to you because I recall a similar issue popping up somewhere else... I'm thinking that before a dev takes this ticket, it might be a good idea to do a sweep through the Admin for any other validation issues of a similar nature, on required fields...

[2019-04-19 03:13] jennyhavah commented on #1439
@hannalcamp I'm thinking this is probably not a release blocker, but wanted to run it by you.

[2019-04-19 16:02] axoplasm commented on #1289
Let's move this one on

[2019-04-19 16:12] hannalcamp commented on #1378
@axoplasm When I try to set a password of 111111111111 for an account, it gives me an error and says "Please choose a password that does not include elements of your name or email." This is after I did try to set a password that included elements of the name ("Tolatest Sharklasers"). Wondering if the error message isn't updating?

[2019-04-19 16:12] hannalcamp commented on #1439
Nope, can go to Deferred.

[2019-04-19 16:16] axoplasm commented on #1378
Because if the way this is coded (not ideal, but I’m kind of loathe to monkey with logins RN) we can't pass along the exact error message for that particular error. The default (i.e. “real”) Django error message is a little more useful, as it tells you which field it’s too similar to.

Did it accept your attempt to use parts of the username?

If this is a blocker, we could remove that requirement

[2019-04-19 16:20] hannalcamp commented on #1378
Actually no password setting is working for me. I'm on incognito mode trying to set/reset it for email accounts tolatest@sharklasers.com & mctestnongmail@yahoo.com.

[2019-04-19 16:21] axoplasm commented on #1378
You're not able to change your password _at all_?

[2019-04-19 16:22] hannalcamp commented on #1378
Getting this error message for any password I try to set.
![Screen Shot 2019-04-19 at 10 21 56 AM](https://user-images.githubusercontent.com/38020496/56433092-0678c680-628d-11e9-984f-c1c9478f1dce.png)

[2019-04-19 16:40] axoplasm commented on #1378
Gaaah. This totally worked yesterday. I'll need to get back into this today

[2019-04-19 16:53] axoplasm commented on #1378
Hey I'm working on this now and I notice something goofy, security-wise. We might want to rethink the entire "registration email" workflow. I'm going to ping the dev channel for their opinion.

[2019-04-19 17:09] hannalcamp opened #1442 "Cannot add a user to only one program at a time"
Logged in as a super user, I cannot assign external users to individual programs in a country. I can assign Mercy Corps users to an entire country as "User," but cannot assign them individual programs.

[2019-04-19 18:18] axoplasm opened #1443 "Django auth flow"
Django login and related auth flows need love. This will mean rewriting the views for the password reset page and allowing users to log in with their email address.

Before we tackle the following tickets I want to map out the user flows. Ken summarized them with:

#### Related tickets:

- [x] #1411 Use email instead of username to log in
- [x] #1342 Meaningful error messages for Django log in pag

[2019-04-19 18:27] KennyMonster opened #1444 "Indicator Audit Log result link is shown even when link doesn't exist"
I created a Result on an Indicator, but did not fill in any of the evidence name/url fields. The Audit log still shows a link to the result though which links to nowhere:

![Screen Shot 2019-04-19 at 11 25 56 AM](https://user-images.githubusercontent.com/1278224/56437930-11842480-6296-11e9-83f5-d89ac0bafbe9.png)

[2019-04-19 18:30] axoplasm commented on #1342
I won't undo any work here but I'm pulling the ticket back into This Release as its related to the auth epic #1443

[2019-04-19 20:27] jennyhavah commented on #1444
This might be good to fix in tandem with #1421 -- since both issues are related to the Evidence portion of the log.

@hannalcamp I'm thinking this is probably not a release blocker, but let me know if you disagree.

[2019-04-19 20:32] jennyhavah commented on #1418
@sanjuroj Hoping you can take over testing this one, as you know the most about how all of this is supposed to work.

[2019-04-19 20:53] hannalcamp opened #1445 "Admin Lite UI: Reset button in Add User form resets everything except the Organization"
Logged in as a Super Admin, if I open the Add User form and fill out all fields, then hit the Reset button at the bottom of the form, it resets all fields to blank except for the Organization field.

![Screen Shot 2019-04-19 at 2 48 59 PM](https://user-images.githubusercontent.com/38020496/56443648-cf1d1080-62b2-11e9-933c-dd2d491a008a.png)
![Screen Shot 2019-04-19 at 2 48 47 PM](https://user-image

[2019-04-19 20:55] jennyhavah opened #1446 "Admin > All sections: Zero (whatevers) shouldn't be linked"
Reported by Hanna... In the various lists within the Admin console, the numbered links take you to a different area of the console, filtered on that thing. In the case of "zero whatevers", it is pointless for it to be a link taking you to an empty list.

# Acceptance criteria

## Users

- [ ] 1. When the count of programs is zero, either show a ----- or don't link "0 programs" -- whichever is easi

[2019-04-19 20:59] hannalcamp commented on #1444
Agreed, not a release blocker

[2019-04-19 21:06] hannalcamp commented on #1441
@jennyhavah 's error for "Leaving out funding status" also occurs when adding an organization and leaving out the email field initially, then adding it. This resulted in the same behavior:

Expected: I get a success message
Observed: I get a success message BUT the error message does not go away.

(I wasn't quick enough to take the below screenshot before the green success message went away, but i

[2019-04-19 21:09] hannalcamp commented on #1441
Same happens for any other field in the Add Organization form:

![Screen Shot 2019-04-19 at 3 08 31 PM](https://user-images.githubusercontent.com/38020496/56444223-14dad880-62b5-11e9-8b60-f5b40b7f6705.png)

[2019-04-19 21:17] hannalcamp commented on #1441
Same in the Add Countries form

![Screen Shot 2019-04-19 at 3 16 55 PM](https://user-images.githubusercontent.com/38020496/56444482-35576280-62b6-11e9-9f46-f5e4cc4cf05a.png)

[2019-04-19 21:30] hannalcamp commented on #1441
New error: When working with Strategic Objectives, the Objective field doesn't appear to be validated at all - I can save new SOs without filling it in and also delete the text in the field and save successfully on an existing SO.
![Screen Shot 2019-04-19 at 3 28 45 PM](https://user-images.githubusercontent.com/38020496/56444917-122db280-62b8-11e9-819b-1b724624c0bc.png)

[2019-04-19 21:47] hannalcamp opened #1447 "Admin Lite UI: Reset button doesn't appear for new country strategic objectives, does for existing ones"
When I go to add a new Strategic Objective to a country, there is no Reset button in the form when the objective is being added. After it is saved, closed and reopened, the Reset button appears

![Screen Shot 2019-04-19 at 3 41 54 PM](https://user-images.githubusercontent.com/38020496/56445409-5fab1f00-62ba-11e9-8be4-93ddb52d046b.png)
![Screen Shot 2019-04-19 at 3 42 02 PM](https://user-images.git

[2019-04-19 21:55] hannalcamp opened #1448 "Admin: Delete button disappears in the disaggregation form after saving"
**Note:** This ticket only covers the availability of the delete button. UI updates to the form are covered in #1503.

# Issue

**Affects:** Admin Lite > Countries > Country > Country disaggregations tab

When I open a blank disaggregation form in a country profile, there is a Delete button at the bottom. If I fill in a value for Type and hit save:

1. I get a "Successfully saved" message, and the

[2019-04-19 23:09] hannalcamp commented on #1427
@KennyMonster I know it's minor, but could we exclude the "Rationale for Targets" field from being prompted/tracked? Since it's not required it seems strange to change

[2019-04-19 23:40] KennyMonster commented on #1427
@hannalcamp Done!

[2019-04-20 01:22] jennyhavah commented on #1441
While all of this is irritating, I'm thinking it doesn't rise to the level of release blocker. Would you agree, @hannalcamp?

[2019-04-20 02:06] jennyhavah commented on #1431
I made the following changes to a LoP only indicator, and all showed up in the log as expected:

1. Name
2. Unit of measure
3. # to %
4. Direction of change
5. Baseline
6. Target frequency from LoP to Annual -- prompted after completing annual targets.
7. Deleted Annual targets and selected LoP only again.

yay!

[2019-04-20 02:09] jennyhavah commented on #1427
@KennyMonster I just tried adding a rationale for target to two different indicator. I was not prompted for a rationale, but I got an error message upon submit:

![image](https://user-images.githubusercontent.com/33670923/56450032-837c5e00-62d6-11e9-9bd3-c4e095167ca1.png)

[2019-04-20 02:10] jennyhavah commented on #1412
@KennyMonster Can I get some guidance on what to test at this point? Should I try changing a bunch of fields that are NOT tracked, to see if I get a prompt? Anything else?

[2019-04-20 04:28] KennyMonster commented on #1427
@jennyhavah What was the exact change made that resulted in no rationale prompt? Was it a change in value of one of the periodic targets or something else?

[2019-04-21 05:01] KennyMonster commented on #1412
@jennyhavah My own testing has involved setting up an indicator with, and one without results. Then testing no changes, changing untracked, changing tracked. Then testing both of these on the modal version and full page version. Then various changes to target types. I look at the prompt, and also the audit log message.

As mentioned, there's a lot of permutations possible here, and I'm sure I miss

[2019-04-21 16:54] hannalcamp commented on #1441
Agreed. It can be dealt with later.

[2019-04-21 17:42] axoplasm commented on #1411
I have a partial solution to this problem, or at least one that doesn’t lie to users and admins. I’ve explicated the username in the Admin Lite interface:

![image](https://user-images.githubusercontent.com/169060/56473564-e4647d00-6421-11e9-90ad-405a6802a74d.png)

I've also changed the frontend behavior when creating new users. Admins will have to provide a username for the new user, instead of a

[2019-04-21 17:54] axoplasm commented on #1443
Here’s what I have running on my local:

![image](https://user-images.githubusercontent.com/169060/56473604-7d939380-6422-11e9-82ea-e3d2a49e6f46.png)

![image](https://user-images.githubusercontent.com/169060/56473616-af0c5f00-6422-11e9-8722-f83470d35ceb.png)

![image](https://user-images.githubusercontent.com/169060/56473621-b9c6f400-6422-11e9-92dc-e2b0ec7784b7.png)

[code]

*(I am sending email

[2019-04-21 17:56] axoplasm commented on #1443
See also my partial solution to #1411, where I explicate the username field in Admin Lite and to end users (for example in the reset email above)

[2019-04-21 18:14] axoplasm commented on #1443
Small note, I updated the urls for this flow. I was using `/auth/[path]` which worked OK but to keep them in line with our expected redirects (see [all these failed tests](https://travis-ci.org/mercycorps/TolaActivity/builds/522779565?utm_source=github_status&utm_medium=notification) I changed them to `/accounts/[path]`

Personally I __hate__ the `/accounts/` path, although I can’t pinpoint why ex

[2019-04-22 16:49] jennyhavah opened #1450 "Admin > Programs: Remove "Status" field from Profile page and automatically set to Funded"
**Affects:** Both tabs of the Program form in the new Admin section.

# Issues
1. Smaller issue: There are duplicates of the Status form field in the Profile and Status & History tabs. It's unclear why, other than that Parthenon wasn't sure what the default should be and you can't access the Status & History tab until you add the program. Redundancy isn't a problem if it's warranted. But in this c

[2019-04-22 18:06] axoplasm opened #1451 "New User: Organization field is required but does not produce the appropriate error"
When I create a new user, no Organization is selected. If I don't select an organization, the save will fail, but doesn't produce an error:

![image](https://user-images.githubusercontent.com/169060/56516227-bd27b180-64ee-11e9-8f05-1c41f59a32e9.png)

[2019-04-22 18:08] axoplasm opened #1452 "Edit User Profile: changes to username are not tracked"
The username field is new in Admin Lite per #1443 & #1411.

[2019-04-22 18:10] axoplasm commented on #1451
@hannalcamp is this a blocker? The form is still usable and validates correctly on the backend

[2019-04-22 18:25] jennyhavah commented on #1412
I tested the following:

Full page form without results
Modal form without results
Modal form with results

In all cases, I tried:
1. Saving changes without changing anything
2. Saving non-tracked changes
3. Saving tracked changes

In all cases, I was prompted when I expected to be prompted, and -- when prompted -- changes appeared with rationales in the log, as expected.

In the case of deleting

[2019-04-22 18:26] jennyhavah commented on #1412
@KennyMonster NICE WORK! Moving this to Ready for Deploy... Unless you can think of anything else we should try, in which case we can move it back...

[2019-04-22 18:45] KennyMonster commented on #1427
The issue above was being caused by trailing whitespace in the program name of programs generated by the QA script. I changed the comparison check to strip out leading and trailing whitespace of text fields to avoid this case in the future.

[2019-04-22 19:04] jennyhavah commented on #1427
PASSED. Tested on a couple of QA indicators, and it looks good. Everything else related to rationale prompting and logging was tested as part of #1412.

[2019-04-22 19:30] axoplasm opened #1453 "Edit User Profile: changes to organization are not tracked"
split from #1452

[2019-04-22 19:31] axoplasm commented on #1452
Split tracking changes to organization into its own ticket: #1453

[2019-04-22 19:31] axoplasm commented on #1452
Also, stopped tracking the derived field "Name" and started tracking the original fields "Last Name" and "First Name"

[2019-04-22 20:07] axoplasm commented on #1451
This is a CSS failure, fixed in 915be8d

![image](https://user-images.githubusercontent.com/169060/56525250-932abb00-64ff-11e9-939e-f75a394a249b.png)

[2019-04-22 20:10] jennyhavah opened #1454 "Make GAIT status visible in Admin and program period modal"
This ticket flows out of #1450 that includes updates to Status related fields in the Program Admin.

**Affects:** Admin program form and Program period modal.

# Stories
**Now:** Looking at a program in Tola, I can easily find out what the GAIT program status is. This detail is easy to find, whether I'm a Tola admin or a desk officer with view-only access to the program.

**Future possibility:** I

[2019-04-22 20:23] hannalcamp commented on #1451
If it's already being fixed, great. Otherwise I wouldn't consider it a release blocker.

[2019-04-22 20:25] axoplasm commented on #1378
Closing this loop: I've fixed this in such a way that we can change our password standards pretty much at whim.

[2019-04-22 20:27] jennyhavah commented on #1453
PASSED. I modified the organization of two different users, and the changes were logged as expected.

![image](https://user-images.githubusercontent.com/33670923/56527364-64faaa80-6502-11e9-98ff-ede8393245d1.png)

[2019-04-22 20:48] sanjuroj commented on #1418
I don't think any of the GAIT-date-fetching code was ported over to the new program admin.

[2019-04-22 22:07] jennyhavah commented on #1240
Moving to Fruit Basket, as this ticket isn't ready to be worked on.

[2019-04-22 23:17] KennyMonster commented on #1418
In the new admin, what does the messaging look like for success/failure cases of getting dates from the GAIT server? I'm assuming we want to continue to allow the creation of new programs even if the GAIT server is unreachable or does not return dates for a given ID?

[2019-04-22 23:28] sanjuroj commented on #1418
Yes, programs should still be created, even if the GAIT fetch fails.  I'm not sure that the existing admin ever actually surfaced any error messages, but that might be easier in the new admin.  But it would be an enhancement of the existing functionality.

[2019-04-22 23:39] KennyMonster commented on #1418
The existing Django admin did surface an error, but did not report success.

![Screen Shot 2019-04-22 at 4 36 24 PM](https://user-images.githubusercontent.com/1278224/56540220-ed864480-651c-11e9-96fb-a5648484e6a1.png)

The new admin has a focus on form validation with regards to error handling, or throwing errors into the PNotify, which is also used for creation success. As such, I'm not sure wher

[2019-04-22 23:42] sanjuroj commented on #1418
I don't think that's been something that's been talked about yet.  I'm sort of partial to the PNotify errors, they seem more visible to me.

[2019-04-23 00:39] jennyhavah commented on #1418
Not sure how we handled this in the past, but we need to keep mind that some programs don't have GAIT ID's for legitimate reasons, and that doesn't warrant a PNotify error message. The way that gets surfaced to end users is with the "Unavailable" message in the program period modal. Not sure what was happening in the Django admin side.

Now, if there's some sort of connection error or other techni

[2019-04-23 15:56] KennyMonster commented on #1418
I'm thinking we make an API endpoint for pulling GAIT dates that runs independent of the Program creation endpoint, which is currently how it's set up now. The API endpoint in turn could be run automatically on program creation, but could also be run via a "Pull GAIT dates" button in the UI. I don't think it makes sense to run automatically during Program update.

Having a dedicated endpoint would

[2019-04-23 17:34] RickieT commented on #1378
**QA - PASSED**
When resetting password, I could not:
* Set a password with less than 9 characters
* Set a password that was similar or the same as my email
* Set a password that did not match in both fields

I could login with my new password, and my old password no longer worked.

[2019-04-23 17:37] RickieT commented on #1425
**QA - PASSED**
* When my u/p combo was incorrect when entering login information, I was given access to a pw reset link:
![Screen Shot 2019-04-23 at 10 21 08 AM](https://user-images.githubusercontent.com/23220180/56602944-72bc3880-65b3-11e9-8c5b-66e20ea760ae.png)
* I was then prompted with a field to enter my email address for the link to be sent, after sending, I was provided with some helpful t

[2019-04-23 18:02] jennyhavah opened #1456 "Program roles and permissions: Add descriptive parentheses to each level"
# Issue
The terms "low, medium, high" are not descriptive, and I shouldn't have to visit a matrix to remind myself of the most important differences between levels. (This ticket isn't in lieu of a matrix, but in addition to it.)

**Affected:** This menu within the Program form in the Admin section

![image](https://user-images.githubusercontent.com/33670923/56603819-53260f80-65b5-11e9-8a76-20beb66

[2019-04-23 18:21] jennyhavah opened #1457 "Add change log link to program page and move it on IPTT reports"
# Issue
Change log should be easier to find

# Acceptance criteria

## Program page

- [x] 1. In between the Indicator plan and GAIT link (when it exists) is a link called "Change log" <-- note sentence case along with the change log icon

![image](https://user-images.githubusercontent.com/33670923/56605178-5ff83280-65b8-11e9-9209-b79136db847f.png)

Just FYI, here's a sneak preview of how I imagin

[2019-04-23 18:24] jennyhavah commented on #1456
BOOM.

![image](https://user-images.githubusercontent.com/33670923/56606052-4821ae00-65ba-11e9-97bf-22a590ac18fa.png)

[2019-04-23 18:24] RickieT commented on #1451
**QA - PASSED**
* Tried to save without organization, and was presented with the proper error and highlight:
![Screen Shot 2019-04-23 at 11 23 55 AM](https://user-images.githubusercontent.com/23220180/56606072-52dc4300-65ba-11e9-89da-8fed3c228d3e.png)

[2019-04-23 18:26] RickieT commented on #1342
**QA - PASSED (Again)**
* This is continuing to function as intended after #1443 changes:
![Screen Shot 2019-04-23 at 11 26 06 AM](https://user-images.githubusercontent.com/23220180/56606257-a9e21800-65ba-11e9-9afb-8836444f7f51.png)

[2019-04-23 18:38] RickieT commented on #1411
**QA - PASSED**
* Email field must be unique validated:
![Screen Shot 2019-04-23 at 11 32 27 AM](https://user-images.githubusercontent.com/23220180/56606627-84094300-65bb-11e9-941f-dea79d0f36b3.png)
* Changed USERNAME field to thisISaTESTusername, and saved. I was able to login with the new username with my same password. I was also able to set the username field to the email without issue, and us

[2019-04-23 18:41] RickieT commented on #1443
**QA - PASSED**
* As a result of the following tickets below passing QA testing, this ticket is validated by such:
- [x] #1411 Use email instead of username to log in
- [x] #1342 Meaningful error messages for Django log in page
- [x] #1425 Password reset link
- [x] #1378 Password security rules
- [x] Reimplement Registration email (I removed this functionality with Parthenon’s earlier attempt)

[2019-04-23 18:55] sanjuroj opened #1458 "Enable app logging"
Currently logging through `getLogger(__name__)` isn't being captured.  Add loggers for `indicators` and `workflow`.

[2019-04-23 19:28] jennyhavah opened #1459 "Country Strategic Objective: Fix form labels and remove requirement on one field"
# Issue
We had some confusion over requirements, resulting in mislabeling of fields and the addition of a requirement to a field that should not be required.

# Acceptance criteria

- [x] 1. Change the label "Code" to "Short name" and _keep it required._

- [ ] 2. Change the label "Objective" to "Description" and _remove the requirement._

## Housekeeping (where applicable)
- [ ] Unit test/s writt

[2019-04-23 19:28] jennyhavah commented on #1459
@camgnostic Heads up that if you made this field required as part of 1441, we need to revert that change.

[2019-04-23 19:30] jennyhavah commented on #1441
@camgnostic Please see my update to the comment above regarding the Objective field. This change should be reverted, if you've already done some work on it.

[2019-04-23 19:33] axoplasm commented on #1459
The field is not actually *required* in the code, it just got an asterisk somehow.

`models.py:85`
[code]

[2019-04-23 19:45] RickieT commented on #1457
**QA - PASSED**
* Link is now on bottom of IPPT filter - and the link successfully directs to the relevant change log
![Screen Shot 2019-04-23 at 12 43 28 PM](https://user-images.githubusercontent.com/23220180/56610937-7ce73280-65c5-11e9-845a-31f6bc730117.png)
* Link is now on the program page between Indicator plan and GAIT - and the link successfully directs to the relevant change log
![Screen S

[2019-04-23 19:52] jennyhavah commented on #1424
PASSED.

1. Prior to saving an event target, I am prompted for confirmation before deleting it. (No rationale, as expected.)

2. After saving event targets, before linking results, if I delete one event, I am prompted for confirmation before deleting it. (No rationale, as expected.) This is true both in the full-page and modal versions.

[2019-04-23 19:57] jennyhavah commented on #1459
PASSED. Two field names were updated and the asterisk was removed from the second form field.

![image](https://user-images.githubusercontent.com/33670923/56611726-5aeeaf80-65c7-11e9-8577-3bae3e86a6ea.png)

[2019-04-23 20:10] RickieT commented on #1418
@RickieT

[2019-04-23 20:14] RickieT commented on #1269
![Screen Shot 2019-04-23 at 1 14 16 PM](https://user-images.githubusercontent.com/23220180/56612630-b457de00-65c9-11e9-9817-b25ea864addc.png)

[2019-04-23 20:23] hannalcamp opened #1460 "Replace any mention of "Rationale" in the UI with "Reason for change""
# Issue
The word "rationale" needs to be replaced with the easier-to-understand "reason for change" or "reason" in any user-facing text string. In places where "rationale" appears at the end of a sentence (or alone), it can be replaced with "reason for change". In places where "rationale" appears in full dialogue box sentences, it should be replaces with "reason".

_Note from Jenny: It's entirely

[2019-04-23 20:26] RickieT commented on #1272
This is actually looking even better now:
![Screen Shot 2019-04-23 at 1 25 45 PM](https://user-images.githubusercontent.com/23220180/56613352-55936400-65cb-11e9-8e65-6091129129ce.png)

[2019-04-23 20:31] RickieT commented on #1265
![Screen Shot 2019-04-23 at 1 31 04 PM](https://user-images.githubusercontent.com/23220180/56613707-0dc10c80-65cc-11e9-93d0-fc006546efdc.png)
![Screen Shot 2019-04-23 at 1 31 13 PM](https://user-images.githubusercontent.com/23220180/56613720-13b6ed80-65cc-11e9-9147-75ff119c696f.png)
![Screen Shot 2019-04-23 at 1 31 24 PM](https://user-images.githubusercontent.com/23220180/56613733-1d405580-65cc-11

[2019-04-23 20:40] camgnostic commented on #1441
Fix will now:
Actually display validation errors on multi-selects (i.e. the Country field) instead of flashing and doing nothing
Clear errors from program, organization, and country fields when the problem is fixed and the form resubmitted.

[2019-04-23 20:51] camgnostic commented on #1450
Everything except DB Migration is cosmetic and rolling in a PR coming today.  Data migration I have some questions on.  From slack:

[2019-04-23 21:23] sanjuroj opened #1463 "Possible layout issue with User Admin"
When I navigate to the User admin, expand a user, and click on the "Status and History" link, the main body of the page drops down below the filter sidebar. This doesn't happen when I switch back and forth between the "Profile" and "Programs and Roles" links.  It's possible that this is partly due to the screen size on my little macbook, but wanted to flag it.

<img width="1392" alt="Screen Shot 2

[2019-04-23 21:42] hannalcamp opened #1464 "User Admin > Programs and roles tab: Link to the Wiki User Roles matrix for a quick reminder of who can/can't do what"
**Affects:** Programs and Roles tab of the User account form

# Issue
As an administrator, while I'm assigning programs and roles, I should be able to quickly access the wiki descriptive matrix of the User Roles, in order to remind myself of what each level can / cannot view / edit / delete.

# Acceptance criteria

![image](https://user-images.githubusercontent.com/33670923/56620157-cb53fb80-65dc-

[2019-04-23 21:42] hannalcamp commented on #1464
@jennyhavah @axoplasm Tagging you for design/layout input.

[2019-04-23 22:12] jennyhavah commented on #1463
Noticed that too, @sanjuroj ! I thought we'd caught all of those! I find that sometimes it depends on which tab you happen to have open on the individual row form.

@RickieT It might be worth going through all tabs on all screens of the Admin to see if there are any more of these wrap issues lurking...

[2019-04-23 22:42] jennyhavah commented on #1450
As I mentioned on Slack, I was probably using the wrong term... I just mean that we don't want to modify any values assigned to existing programs -- only update the terminology.

[2019-04-23 23:10] sanjuroj opened #1466 "In User Admin, Admin Role column doesn't show yes for (some?) admins."
In User Admin, Admin Role column in user table doesn't show up as "Yes" when a user is an admin.

To recreate, go to an arbitrary user and make them an admin (either User or Basic) for a country and save.  The Admin User column doesn't display as "Yes", even upon refresh.

Super admins have a Yes in the Admin Role column.

[2019-04-23 23:26] hannalcamp opened #1467 "One asterisk in Add Program form isn't red"
The asterisk denoting "Required" is red for the Program Name and Funding status, but isn't red for Countries.

![Screen Shot 2019-04-23 at 5 24 37 PM](https://user-images.githubusercontent.com/38020496/56622329-d44cc900-65ec-11e9-8ef6-d8d1c69b0f05.png)

[2019-04-23 23:49] jennyhavah commented on #1466
@RickieT Can you let us know if this is something that used to test okay and now doesn't?

I'm also wondering if the change itself is being saved? I.e. is it just a problem with the user table, or are changes being lost?

[2019-04-23 23:50] jennyhavah commented on #1467
I'm going to take a wild leap and say this isn't a release blocker... ;-)

But heads up, @axoplasm in case you happen to be in there for some other reason...

[2019-04-24 00:13] axoplasm commented on #1467
There are other issues with error display on this field. The error display isn't showing correctly, and if it would it would have the wrong styling applied:

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/169060/56623903-1b39bf00-65eb-11e9-8d9a-bb1baa9fb8b9.png">

[2019-04-24 00:44] axoplasm commented on #1467
I pushed a partial fix for this that:

* makes the asterisk red
* shows the error text on error
* styles the error text

In order to get the element itself to be red, that will a little extra work. See dev note on the commit.

[2019-04-24 15:57] RickieT commented on #1466
@jennyhavah investigating this now

[2019-04-24 16:11] RickieT commented on #1466
I set user mctest.low@gmail.com to basic admin role, and it did not update the admin role column to YES. However, when logging in as the user, I did have admin permissions. I can't confirm that the column updated to YES as of recent.

CHANGES ARE NOT LOST - column is failing to update.
![image](https://user-images.githubusercontent.com/23220180/56675374-c476c880-6670-11e9-94b0-9cd9bdc5b24b.png)

[2019-04-24 16:20] RickieT commented on #1441
**QA - PASSED**
* Checked that validation errors occur and disappear on forms as requirements are met. They are no longer static when filled out properly. Check User, program, country and org forms

[2019-04-24 16:22] RickieT opened #1469 "Translator note found in strategic objectives tab in Admin > Countries > Strategic Objectives"
As shown in the image below:
![image](https://user-images.githubusercontent.com/23220180/56676136-7d89d280-6672-11e9-9224-4756df83c16e.png)

[2019-04-24 16:25] RickieT commented on #1450
**QA - PASSED**
* Fund Code field is grayed out, users cannot edit
* Upon creation, status is automatically set to funded

[2019-04-24 16:46] RickieT commented on #1463
There is some funkyness where you need a specific browser window to see a different effect. Check this out - in the 1st image here, everything appears to show normally (resolution in image):
![image](https://user-images.githubusercontent.com/23220180/56677491-7dd79d00-6675-11e9-9e3a-251b4d827464.png)
* If I Squeeze the window size just a TAD smaller, it pops below the filter same as shown in @sanj

[2019-04-24 16:51] jennyhavah commented on #1463
My understanding from @axoplasm  is that this behavior -- while certainly not ideal -- is to be expected, from the fixes he has implemented thus far.

Paul, can you confirm this? If yes, then I'm going to suggest that we either close this ticket as Won't fix, or -- if you have a different approach you'd eventually like to try -- we could move it into Deferred and turn it into a more general ticket

[2019-04-24 16:57] axoplasm commented on #1463
Jenny is correct. Given the way we're building the flyout filter AND ALSO that we have some table fields that need a minimum size, there will always be some combinations of viewport + table size that break the layout.

[2019-04-24 17:05] axoplasm commented on #1463
I could imagine other, much better ways to build our flyouts, but they would be a nontrivial effort. See https://foundation.zurb.com/sites/docs/v/5.5.3/components/offcanvas.html for an example

[2019-04-24 17:46] axoplasm commented on #1466
sooooo....it turns out this column only checks whether the user has “staff” status per the Django admin. This is not quite the same as superuser — all it means is that I *can* log into the Django admin:

![image](https://user-images.githubusercontent.com/169060/56681345-00fcf100-667e-11e9-9279-8609800b6ed8.png)

In other words, this column is largely unrelated to any of the ways we traditionally r

[2019-04-24 17:48] axoplasm commented on #1466
Question now is, what do we want this to show?

* User has Basic Admin access somewhere
* User is a Super Admin (we would know this already by the __SUPER ADMIN__ badge
* Nothing, this is bogus info, let's just kill it

[2019-04-24 17:52] jennyhavah commented on #1466
I would be fine killing the column, because we have the Admin filter that lets people find out who does/does not have this role. @hannalcamp is that ok with you?

[2019-04-24 18:02] jennyhavah opened #1472 "Make flyouts fly out more gooder"
# Issues

Our flyout panels do not respond elegantly under certain browser and resolution conditions. See #1463 for a description of the issue.

# Acceptance criteria

TBD...

[2019-04-24 18:03] jennyhavah commented on #1463
Ok, I just filed a new ticket and will put it in Fruit Basket: #1472 Make flyouts fly out more gooder.

Closing this one as a "won't do"... at least for this release.

[2019-04-24 18:03] #1463 closed

[2019-04-24 18:23] RickieT commented on #1467
**QA - PASSED**
* asterisk is now red, error text on error,

[2019-04-24 18:34] KennyMonster commented on #1418
@jennyhavah So because this started out as a test plan ticket, I've been implementing stuff without input from design, so I wanted to check in where things are at.

As implemented:

* Existing functionality in the Django Admin remains
* The GAIT date syncing functionality has been added to the new admin on program creation
* There are handful of paths and subsequent UI feedback to the admin creati

[2019-04-24 18:51] jennyhavah commented on #1418
Looking good, @KennyMonster! I'm with you on trying to provide error messages that are as useful as possible. My suggestions on wording are below.

# No GAIT ID

Successfully saved  (sentence case)

# Sync success

Successfully synced GAIT program start and end dates

# Sync failure

Successfully saved   (sentence case)

Failed to sync GAIT program start and end dates: There was a network or serve

[2019-04-24 18:52] jennyhavah commented on #1418
@KennyMonster If you can knock it out quickly, I think a "Retry sync" option is a great idea. I would include it inside the PNotify itself, as a simple text link or button.

[2019-04-24 18:55] axoplasm commented on #1466
Oh dang I removed this before @hannalcamp weighed in. Let me know if we want to do something different

[2019-04-24 19:10] RickieT commented on #1469
**QA - PASSED**
![image](https://user-images.githubusercontent.com/23220180/56686886-e16bc580-6689-11e9-9621-0ff567800c0e.png)

[2019-04-24 19:21] camgnostic opened #1476 "Migration script for PA release"
Needs:
- [ ] Null org ID's -> Mercy Corps org

[2019-04-24 19:25] esinn commented on #1476
I logged into QA server via my Okta login. When I went to my profile however I wasn't associated with an organization Mercy Corps, that field was blank. I manually went in and added Mercy Corps to my profile.

[2019-04-24 19:38] hannalcamp opened #1477 "Admin Lite UI: Links to filtered lists of Organizations not working"
**Affects:** All links of the format "X organizations" in the Admin Lite UI

# Issue
As an administrator, when I examine lists of Programs or Countries, there is a link next to each object name with the format "X organizations". When I click on that link, I should be taken to a filtered list of organizations associated with that object, but I'm actually just taken to a list of all organizations.

[2019-04-24 19:43] hannalcamp opened #1478 "Programs drop-down in Sites should only show programs the user has access to"
**Affects:** Sites landing page for all users.

# Issue
On the Sites homepage, the drop-down list titled "Programs" is currently filtered according to the country the user has access to. However, if the user has access to only a few programs in that country, they can still see a list of all programs, instead of only the ones they have access to. The options in this menu should be restricted by pro

[2019-04-24 19:49] hannalcamp opened #1479 "Admin Lite UI: Program Status column and associated filter don't reflect new Active/Inactive binary"
**Affects:** Programs page in the Admin Lite UI.
**Related issue:** #1450

# Issue
We have changed the Program setup form so that admins no longer choose a GAIT status upon setup (e.g. Funded, Completed), and new programs are instead designated Active until an admin chooses to switch that to Inactive. But when I view the programs list in the Admin Lite UI, I see that the Status column contains ent

[2019-04-24 19:52] hannalcamp commented on #1466
@jennyhavah I'm fine killing the column.

[2019-04-24 20:02] jennyhavah commented on #1466
Validated that the Admin role column is 🔥

![image](https://user-images.githubusercontent.com/33670923/56689956-20514980-6691-11e9-8471-87ca8a7f9110.png)

Moving to QA in case @RickieT wants to take a look, but it's done from my standpoint.

[2019-04-24 20:10] RickieT commented on #1466
**QA - Confirmed**
* Admin role gone
![image](https://user-images.githubusercontent.com/23220180/56690464-5a6f1b00-6692-11e9-9c2d-92a66f0f3f51.png)

[2019-04-24 20:12] jennyhavah opened #1481 "Change log: Missing previous / next entry details for disaggregated values and sites, unnecessarily prompting for changes to Comments"
I found a bunch of issues with the results form -- Figured I'd collect them in an epic.

# Acceptance criteria

## Result form

- [x] 1. I am NOT prompted for a rationale when I change the Comments field.
- [x] 2. I am NOT prompted for a rationale when I change the Project field. (Edge case, only applies to countries with access to Projects.)

## Change log Previous / New entry columns

### Actual

[2019-04-24 20:15] jennyhavah commented on #1481
@hannalcamp Just a heads up. Given that we are about to do extensive work on disaggregations as part of Goat Tree, my inclination is to defer this. But let us know if you consider it a release blocker.

Also, please let me know if you agree with acceptance criteria number 2. My assumption is that it's not useful to list every single disaggregation category -- only the ones that were changed. But y

[2019-04-24 20:22] hannalcamp commented on #1481
@jennyhavah Agreed with both deferring and Criteria Number 2

[2019-04-24 20:33] jennyhavah commented on #1418
A note from Marie that may or may not be relevant to this ticket. Tagging @RickieT and @KennyMonster

[2019-04-24 20:36] RickieT commented on #1419
**QA - PASSED**
* For all levels of access, this is what we now see, and filters work on program and home page as intended for both the link and clicking the gauge:
![image](https://user-images.githubusercontent.com/23220180/56691834-bc7d4f80-6695-11e9-83d0-ee1e0e815472.png)
![image](https://user-images.githubusercontent.com/23220180/56691862-cb640200-6695-11e9-8c60-4a23e07d9998.png)

[2019-04-24 20:59] jennyhavah commented on #1418
Actually, this may be an issue of Marie getting used to the new PNotify success messages. Moving this back into the testing queue.

[2019-04-24 21:10] RickieT commented on #1460
**QA - PASSED**
* Change log new text:
![image](https://user-images.githubusercontent.com/23220180/56693701-010aea00-669a-11e9-961e-cacf1a341535.png)
* Non Destructive result change:
![image](https://user-images.githubusercontent.com/23220180/56693755-1f70e580-669a-11e9-9ca2-4d5249d7d454.png)
* Deleting a result:
![image](https://user-images.githubusercontent.com/23220180/56693803-30b9f200-669a-11

[2019-04-24 21:25] jennyhavah opened #1482 "What to say to a user who successfully logs in, but is not assigned to any countries or programs"
This is an extension of #1341 -- a scenario we overlooked.

**Affects:**
People who have Tola user accounts and can successfully log in, but who are not assigned to any programs, and who do not have access (direct via Accessible Countries or indirect via Programs) to any Country pages.

# Acceptance criteria

- [ ] 1. I am taken to the page similar to the one described in Scenario 2 of #1341. It s

[2019-04-24 21:36] RickieT commented on #1418
**QA - nearly complete**
* Waiting on some server development to verify GAIT ID successfuly pulls gait dates, but our other options are in verified working
* Duplicate GAIT ID warning:
![image](https://user-images.githubusercontent.com/23220180/56695344-aa9faa80-669d-11e9-8b98-9f1597ae0a7c.png)
* Saved, but failed to sync from GAIT
![image](https://user-images.githubusercontent.com/23220180/566953

[2019-04-24 22:05] sanjuroj opened #1484 "Project Exporter/Importer"
Write a management script that can export a program's data to e.g. JSON and import it from that format (presumably on another server).

[2019-04-24 23:05] jennyhavah opened #1485 "Event deletion: Hide the X icons for users with Low and Medium access, remove Add event button, gray out Event names"
**Affects:** Event indicators, users with Low and Medium access to a program.

# Issue
If I have Low or medium access to a program, the "X" icons appear next to individual events. When I click an "X", I'm prompted for a rationale. Then -- thanks to back end validation -- I get a "Sorry you don't have permission" error. Whew! But on the front end, the best thing to do is to hide those X icons in th

[2019-04-24 23:15] sanjuroj commented on #1458
Not much anyone other than me can do for QA.  I just need to look at the server logs to make sure they the newly enabled logging is working.

[2019-04-24 23:28] RickieT commented on #1464
**QA - PASSED**
* Tip now links to wiki showing role access

[2019-04-24 23:38] jennyhavah opened #1486 "Make feedback form accessible to external users"
# Issue
As an external user, when I am prompted to visit the link circled below, I'm then required to log in to Google... and I can't, because I'm not a MC employee.

![image](https://user-images.githubusercontent.com/33670923/56700399-dd9e6a00-66ae-11e9-940b-fa0f819c9cf8.png)

This is the form I'm trying to get to -- https://docs.google.com/forms/d/e/1FAIpQLSclm2PAT9TJ9q23TT6YWQg6hj3EndUAdyF5k6kv

[2019-04-25 00:02] KennyMonster commented on #1477
@hannalcamp Can you paste the browser URL of the Organizations view when this happens?

[2019-04-25 00:18] jennyhavah opened #1487 "Indicator Disaggregation Report: Can't view as a Low/Medium access user"
# Issue
As someone with Low or Medium access to a program, I should be able to see the Indicator disaggregation report. Right now, I see it in the menu:

![image](https://user-images.githubusercontent.com/33670923/56701595-ca8e9880-66b4-11e9-84e5-e8b605435609.png)

But when I click it, I get this page:

![image](https://user-images.githubusercontent.com/33670923/56701606-d24e3d00-66b4-11e9-8a39-7a

[2019-04-25 00:34] jennyhavah commented on #1481
@hannalcamp This ticket turned into a bit of an epic. A few more things I want to validate:

1. Do we want to log changes to sites? If not, we shouldn't prompt for a rationale. (If yes, we should capture the values.)

2. Do we want to log changes to Comments? (Same deal -- either we shouldn't prompt, or we should capture the changes in the log.)

[2019-04-25 00:52] jennyhavah commented on #1486
From Slack thread https://mercycorps.slack.com/archives/GJ5KDBU1K/p1556148434030600

![image](https://user-images.githubusercontent.com/33670923/56702577-b13c1b00-66b9-11e9-9607-120fc17b3927.png)

[2019-04-25 00:58] jennyhavah opened #1488 "Re-introduce a logout button... that actually works this time"
# Issues

1. There's no way for me to manually log out.
2. Even if there were, I might forget to, and inadvertently stay logged on. This is a security risk.

from Paul in the Slacks:

Explicit logout is a good UX pattern & a longstanding pet peeve with MC’s SSO. Log out use cases:

— public computers
— shared workstations
— I have multiple accounts for some reason & need to switch between them
— i

[2019-04-25 15:34] hannalcamp commented on #1481
@jennyhavah If we don't log changes to sites, and someone modifies the Site in a result, does that change still get displayed in the log? I assume so.

If yes, then I'm in favor of not logging changes to sites, as only high-level users will be allowed to delete sites.

As for 2., is this Comments in the indicator form? If yes, then let's not track it.

[2019-04-25 15:37] hannalcamp commented on #1477
Yeah, the second screenshot is what happens when I click a "2 organizations" link.

[2019-04-25 15:53] jennyhavah commented on #1481
@hannalcamp I should clarify: I'm not talking about logging whether sites are added or deleted to the program. I'm talking about changes to a **result** -- where a site is linked to the result, and the modified. Like "Oh, this value previously was linked to Village A and now it's Village B." Should we be logging _that_ type of change? Right now you essentially get an empty row with the rationale.

[2019-04-25 15:57] hannalcamp commented on #1481
Ah yes, I see what you mean now. Yes, if the site of the result is changed, we should track it.

I also lean towards no tracking of changes to comments.

[2019-04-25 16:08] axoplasm opened #1489 "Deleting a user (and other objects?) in Django admin also deletes related changelog entries"
I have not explored the edges of this at all. I noticed it by accident when I was deleting a test user on my local.

![image](https://user-images.githubusercontent.com/169060/56751328-a07fb980-673a-11e9-99bd-38f0a255f6d8.png)

This deletes all the change log entries for that user.

__This only affects actions by Super Admins__

[2019-04-25 16:17] axoplasm opened #1490 "Looks like an errant tick mark got into the changelog template"
in the middle of tracking another bug (#1489) RN so I can't just fix it. see:

![image](https://user-images.githubusercontent.com/169060/56751435-eccaf980-673a-11e9-9baa-20eb3c06ea42.png)

[2019-04-25 16:20] axoplasm commented on #1489
p/h note for deletions in the program (ie. indicator) changelogs

Before deletion:

![image](https://user-images.githubusercontent.com/169060/56751493-108e3f80-673b-11e9-91c1-5d1537733274.png)

![image](https://user-images.githubusercontent.com/169060/56751530-2c91e100-673b-11e9-920c-395506da2f7a.png)

After deletion (note that the change for “new indicator” is broken):

![image](https://user-imag

[2019-04-25 16:48] RickieT commented on #1479
**QA - Verified**
* Multiple pages of programs were filtered, and status was reflected by Active / Inactive:
![Screen Shot 2019-04-25 at 9 43 53 AM](https://user-images.githubusercontent.com/23220180/56753127-bc855a00-673e-11e9-987c-cf805d69dc44.png)
* Filtering through inactive programs effectively:
![Screen Shot 2019-04-25 at 9 45 06 AM](https://user-images.githubusercontent.com/23220180/5675323

[2019-04-25 16:55] RickieT commented on #1490
**QA - Verified**
* Checked a few different log tables, don't see any tick marks, looks clean:
![Screen Shot 2019-04-25 at 9 54 21 AM](https://user-images.githubusercontent.com/23220180/56753787-3538e600-6740-11e9-8137-eb7fd4dc2844.png)

[2019-04-25 17:04] axoplasm commented on #1482
Because there are two separate conditions here (country access and program access), it might be easier to have a custom message in the case of either no active countries or no active programs. For example:

User with access to no countries or programs:

![image](https://user-images.githubusercontent.com/169060/56754090-f9eae700-6740-11e9-9c6a-fb8f3d7e1f08.png)

User with access to an inactive prog

[2019-04-25 17:31] jennyhavah commented on #1482
@axoplasm I updated the original ticket with some suggested language, and added a link to the feedback form, which I'd left out.

[2019-04-25 17:34] axoplasm commented on #1482
This is more complex than I thought. The conditions we can (trivially) test for are (paraphrasing)

### “User has an active country”

“Active” in this context means “is the country that I should show for the user’s homepage.” A user with access to no countries implicitly has no active country.

There is an extreme edge here where a user with access to some country nonetheless has no “active” count

[2019-04-25 17:54] jennyhavah commented on #1481
@hannalcamp Ticket updated, and Ken is working on it.

[2019-04-25 17:56] RickieT commented on #1477
### QA Passed:
* Both links to orgs from countries and programs page, appear to link properly to relevant organizations
![1427](https://user-images.githubusercontent.com/23220180/56757275-b005ff00-6748-11e9-9a67-0dfdbfbbc771.gif)

[2019-04-25 17:58] axoplasm commented on #1482
Here’s where we landed on this. We test the entire homepage on the condition of “User has an active country.” We’ll disregard the extreme edge mentioned above. If I don’t have an active country, I see:

![image](https://user-images.githubusercontent.com/169060/56757444-112dd280-6749-11e9-9abe-bd197d9c3c6d.png)

[2019-04-25 18:02] hannalcamp opened #1492 "Results: "Agriculture" appears as an option within the SADD disaggregation"
**Affects**: All SADD disaggregation tables in all Results forms.

Issue: "Agriculture" appears as the final option under the SADD drop down menu in the Results form.

![Screen Shot 2019-04-25 at 11 58 30 AM](https://user-images.githubusercontent.com/38020496/56757647-fc097180-6751-11e9-9e74-d2677a07d2cc.png)

Acceptance Criteria:
- [ ] Only Sex/Age cross-sections (Male/Female, 5-year intervals) a

[2019-04-25 18:04] axoplasm opened #1493 "Users who have had all their country/program access removed still have an “active” country for the purposes of rendering the homepage"
This is an unusual situation. If I:

* am a non-admin user
* with access at at least one program in Country X
* have logged in at least once

…and if an admin:

* removes all my access to any program in Country X

…when I log in again, my homepage is still the landing page for Country X, until I change countries. If I have no other countries to change to, this is my only homepage.

[2019-04-25 18:18] camgnostic commented on #1489
To test: open the old and busted Django admin, find a user who has made some changes and added indicators (try it on yourself!) and hit delete.  Make sure the "are you sure" message indicates a reasonable number of follow-on deletions (your social auth and session tokens) and not everything you've ever touched on the site.  Go ahead and hit "cancel" (unless you're done testing for like ever I gues

[2019-04-25 18:32] hannalcamp opened #1494 "Admin Lite UI: Change "User" to something more descriptive for whole-country access"
# Issue
As a super admin, when modifying the all-country status of a user, feedback suggests it's not immediately clear what "User" means (e.g. access to all programs, current and future, in that country). We could change this to "All-country access", or "All-programs access" as a quick fix:

![Screen Shot 2019-04-25 at 12 05 10 PM](https://user-images.githubusercontent.com/38020496/56759387-16dde

[2019-04-25 18:54] camgnostic opened #1496 "Make a fast test command"
We now have enough tests that are slooooow (including all the API endpoint tests) that it is getting difficult to run the test suite locally while working.  Make a manage.py quicktests command that runs a core set of quick tests for use while developing.

[2019-04-25 18:54] hannalcamp opened #1497 "Admin Lite: Move "find by name" filters more prominent"
# Issue
As an administrator trying to find users in the Admin Lite UI, I may be most likely to want to use the Users filter to find specific people by name, or the Programs filter to find specific Programs by name, but currently these filters aren't super-easy to find. They're typically at the bottom of the filters list for each page.

Ideas:
- [ ] Put the relevant filter at the top of each page
-

[2019-04-25 19:02] camgnostic opened #1498 "Users with no programs have useless menu items"
A user with no programs has the Browse and Reports menu items on their "no programs available page.  This can result in some confusing pages, such as an IPTT Quickstart page with no programs in the dropdowns and a Disaggregation Report page with no programs, etc.
Solution:
- [ ] hide Browse and Reports menus from users with no programs available.

[2019-04-25 19:31] RickieT opened #1499 "I created a user with low - high access for one country that turned into a super admin when logged in with gmail"
I was creating an account to test this deletion of user removes change log entries issue -
I created a new account, and used the GMAIL option to login when I received my registration email. This user was set in the MERCY CORPS organization.

Upon logging in with this new user via GMAIL, I was immediately given super admin status?
Though, when I set a password, and login that way(u/pw), I do not ha

[2019-04-25 19:39] hannalcamp opened #1500 "Programs and Roles tab: make it more clear if the User has access or not"
# Issue

As an admin, when I go to the Programs and Roles tab of a User, it is not immediately obvious that I must check the left-side checkbox to give the user access to the program. I might further assume that if they have a grey "Low" setting next to a program, that this means they have access to the program, even if the checkbox isn't checked.

Options:
- Introduce a blank or "---" option for

[2019-04-25 19:40] hannalcamp opened #1501 "Users > Programs and Roles: Usability issues"
Reference for different issues relating to the Programs and Roles tab of the User profile in the Tola Admin UI.

- [ ] #1404 Give Super admins "Basic Admin" access to all countries

- [ ] #1532 Super admins: When editing Programs and Roles for a non-MC user, disable Country level role menus

- [ ] #1377 Selected/unselected checkboxes are nearly indistinguishable

- [ ] #1494 Change "User" to somet

[2019-04-25 20:29] axoplasm commented on #1478
This is not difficult but I need a sense of, is this a release blocker? It means redefining a filter we use commonly on lots of older workflow views, e.g. Documents

[2019-04-25 20:52] RickieT commented on #1482
### **QA - Verified**
* Confirmed, here is the page with no country/program access:
![Screen Shot 2019-04-25 at 1 42 10 PM](https://user-images.githubusercontent.com/23220180/56767757-6b3a9200-6761-11e9-8725-ece3e8a70801.png)

[2019-04-25 21:00] hannalcamp commented on #1478
Hm, @jennyhavah this is in some ways a workaround to the problem of us showing Sites that program-specific users don't have reason to see - but it would result in a blank map for some people. I'm inclined to do it even though it's not the best solution to the problem?

[2019-04-25 21:07] jennyhavah commented on #1478
@hannalcamp I agree that this is preferable to exposing the full list of programs to users who shouldn't be seeing it.

@axoplasm I'd only do this if it's easy, but since it'll be pretty common for external users to have access to only one program, and for that program to have no sites, perhaps we add a message in the middle of the gray box: [Program name] has no program sites.

[2019-04-25 21:10] RickieT commented on #1489
### Failed QA:
I don't see a commit on this ticket, and I don't see this fixed, I created a user, made changes, and saw those changes disappear from the log when I removed the user via django admin.

[2019-04-25 22:53] camgnostic commented on #1499
So, I hate "unable to reproduce" as much as the next person, but I've just spent a couple hours working to reproduce this issue on a variety of browsers (Chrome, Chrome Incognito, Firefox, Firefox Private) and on both local and -dev2, with three different accounts, trying various combinations of logout, login, and login in a different window.  Can't get the issue to happen again.

Tentative diagno

[2019-04-25 22:55] camgnostic commented on #1489
The TolaUser or the Auth User?

[2019-04-25 22:56] camgnostic commented on #1489
Specifically the dispo from our conversation this AM was that:
TolaUser gets marked Inactive, not deleted, and we don't mind a long list.
Removing an Auth.User (the actual authentication model in Django.auth) might be useful for compliance, so we want that capability in the django admin.  That's the one I unlinked (so deleting the auth.user for username cmcfee only deletes my login, session, and s

[2019-04-25 23:27] hannalcamp commented on #1499
I think until we see the same thing happen again to anyone else, we can't really move on it. I can write this scenario down for us to test out with the observational testing groups over the next few days?

[2019-04-26 02:44] jennyhavah opened #1503 "Admin: Country disaggregations: UI updates"
# Issues
This ticket covers a number of UI improvements. Some of these items were mocked up but not implemented during Papaya, and I've added some additional refinements.

**Note:** The mockup in this ticket depicts disaggregation categories as re-orderable, and this is currently not the case. Because this is not a trivial level of effort, we've pulled that UI aspect into another ticket -- #1872.

[2019-04-26 02:51] jennyhavah opened #1504 "Home page gauge charts: Random string appears in French"
**Affects:** Country page

I'm looking at country pages translated into French, _on Production_. Check this out:

![image](https://user-images.githubusercontent.com/33670923/56780212-4bbc5d00-6793-11e9-8996-6181a1a569df.png)

I do not see anything similar in Spanish or English -- only French.

[2019-04-26 03:42] jennyhavah opened #1505 "Nav bar: Add Firstname Lastname drop down menu with Settings and Logout"
# Issue
From Cameron in Slack: Hello UX/UI folks - quick question: we had a potentially one-off not-reproducible bug that maybe let Rickie log in as the wrong user.  I know that’s concerning.  We’re having trouble making it happen again though, so we thought maybe a way to help make sure it hasn’t happened again, and also as just good UI practice, would it be alright to add a username to the top r

[2019-04-26 15:42] RickieT commented on #1489
@camgnostic ohh okay that makes sense. Let me try that

[2019-04-26 16:08] RickieT commented on #1489
### QA PASSED:
* I deleted user from Auth.User in django admin, and their changes remained within the change log for the programs they edited.

[2019-04-26 16:11] RickieT opened #1506 "Activation/Registration email needs formatting"
The email received for a new user is not formatted well, and bunches all the information in a single paragraph:
![image](https://user-images.githubusercontent.com/23220180/56821443-2f580900-6803-11e9-869a-6dd72fdab4d9.png)

@jennyhavah  @hannalcamp  Recommend as not a release blocker,

[2019-04-26 16:35] RickieT commented on #1487
### QA PASSED:
* As low user, I was able to view indicator dis aggregation report for programs in the country I had access to (Afghanistan - mctest.low@gmail.com & mctest.medium@gmail.com)
![image](https://user-images.githubusercontent.com/23220180/56822641-87dcd580-6806-11e9-8ccc-f44f74fadb1e.png)

[2019-04-26 16:41] axoplasm commented on #1478
Setting aside ease of implementation, what is our desired behavior for the Sites list generally? Should I be able to see all sites? Only those in my program(s)? Countries in which I have program(s)? What if I need to add a site from another program?

[2019-04-26 16:48] axoplasm commented on #1500
Refresh my memory — why do we have this checkbox at all? I remember a big discussion about it.

[2019-04-26 16:51] jennyhavah commented on #1478
@axoplasm All of these are good questions that don't have obvious answers, and we have not yet done the discovery work to be able to answer them with confidence. We ultimately need to rethink Sites altogether, and engage the PaQ team in figuring out what this feature set ought to be.

For Papaya, I'm mainly concerned about the security implications of being able to see a list of Programs you don't

[2019-04-26 16:58] axoplasm commented on #1478
Right now, map and dropdown aside, any user can see all sites in the list itself. I remember having some discussion on this. I will do some archaeology to figure out why. Maybe it fell through the cracks.

It's relatively simple to filter this list, but I need to sketch out some business rules first.

[2019-04-26 17:48] hannalcamp opened #1508 "Change log doesn't record or display tracked fields in certain circumstances"
*Affects all change logs*

# Issue
As a High-level user, when editing an indicator with results, tracked fields should include the indicator name, unit of measure field and radio button choice, LoP target and direction of change, and baseline. If any change is made to these it is captured once "Save Changes" is clicked.

However, if I make changes to those tracked fields _in conjunction_ with maki

[2019-04-26 17:49] hannalcamp commented on #1508
@jennyhavah I'd like you to take a look at this if you can, especially to validate my acceptance criteria.

[2019-04-26 17:53] axoplasm commented on #1478
I have narrowly addressed _just the Programs dropdown_ in 10d74adf:

![image](https://user-images.githubusercontent.com/169060/56826492-400f7b80-6811-11e9-9a59-81e53befca3e.png)

This still leaves a lot of apparent mystery (to me) around what Sites get rendered, and why. This is due to the old way that we used to route requests, for example when you use the Program “filter” what you’re actually do

[2019-04-26 18:00] hannalcamp opened #1509 "Make Documentation, FAQ, and Feedback Form publicly accessible for non-MC users"
# Issue
The user Documentation, FAQ, and Feedback form all sit behind learn.mercycorps.org or the Hub, meaning external users won't be able to access them.

We need to either make those specific URLs public (not sure if that's possible) or move them to a publicly accessible site.

[2019-04-26 18:00] sanjuroj commented on #1484
QA will be up to me, Hanna, and the Jordan team.

[2019-04-26 18:04] axoplasm commented on #1486
We should `EPIC`ify this into CMS-adjacent problems. Right now we direct users to:

* a Google form for feedback
* FAQ on the Hub
* Documentation on the (old?) wiki
* A few stray “Form Guidances” (see .../admin/workflow/formguidance/) which are mostly links to Google docs(?)
* `mailto:` links for admins

The first 4 items are available only to (certain!) MC users. They’ll be useless for partners.

[2019-04-26 18:06] hannalcamp commented on #1500
In our minds, it was to have a very clear visual representation of having access to that program which is _independent_ of the role you have on the program. Which now makes it ironic that others don't see things that way and go straight to role. That said, in observational testing with MCNW this morning, they didn't have the same problem and did actually intuit what the checkbox meant. @jennyhavah

[2019-04-26 18:24] axoplasm opened #1510 "Sites page"
This ticket expands on a confusion I had addressing #1478

Listing on the Sites page is predicated an old URL routing scheme that we could probably retire. Right now I can “filter” the list of available sites but this directs me to a new URL with country/program parameters that filter this list (e.g. `/workflow/siteprofile_list/0/0/`)

#### Suggestions for improving this experience:

* Sites page

[2019-04-26 18:55] axoplasm commented on #1505
Commit f4cdc6b1 narrowly addresses the criteria above. This raises the secondary issue of what to do with the profile page (this is where “settings” takes you), which right now only lets you change language.

![image](https://user-images.githubusercontent.com/169060/56829573-f62a9380-6818-11e9-9578-61ecd85ac362.png)

We could let end users change all kinds of things here, like username, email and

[2019-04-26 19:16] RickieT commented on #1505
### QA Passed:
There we go:
![image](https://user-images.githubusercontent.com/23220180/56831084-12303400-681d-11e9-9c5b-63ff2752881b.png)

[2019-04-26 19:19] RickieT commented on #1478
### QA Passed:
* Confirmed, only programs user has access to is showing in the droplist now as shown above:

[2019-04-26 19:34] hannalcamp commented on #1508
Looks good to me - I'm deleting my AC version.

[2019-04-26 21:10] RickieT commented on #1444
### QA Passed:
* Issue no longer occurs as written:
![image](https://user-images.githubusercontent.com/23220180/56836755-fe8cc980-682c-11e9-99a2-7ff7d4e8b383.png)

[2019-04-26 22:45] KennyMonster commented on #1508
I pushed a workaround that fixes the core issue here where changes are not being logged when the "Create targets" button is pressed.

The issue is that "Create targets" doesn't just create empty target fields, but also saves the entire Indicator form as well. The server had a check to see if this was a "Create targets" save vs a "Save changes" save, and did not log changes on the former. I removed

[2019-04-26 23:12] RickieT commented on #1499
### QA Passed:
* Can no longer reproduce issue by simultaneous logins through gmail
* Other login options remain unaffected

[2019-04-26 23:14] hannalcamp commented on #1508
Going through Criteria 1, I'm trying to Create Targets (after having removed them) and the button grays out upon clicking and doesn't create any new fields. This happens for any target period type other than LoP only.

[2019-04-27 00:23] jennyhavah commented on #1508
@hannalcamp Cameron just reported in Slack that he fixed this issue.

[2019-04-27 00:26] jennyhavah commented on #1508
I updated the original ticket to remove the acceptance criteria that would have required that we somehow capture a user's rationale even when the change logging was happening by way of the "Create target" button. As Ken explained, we are hard coding an "N/A" rationale in that particular scenario.

[2019-04-28 02:41] jennyhavah commented on #1508
@hannalcamp  Can you recall what steps you took that resulted in a change log with percentage and non-cumulative? I'm unable to reproduce that.

I DO see a pattern where if I switch from percentage to number AND toggle from non-cumulative to cumulative, only the % to # change is logged.

![image](https://user-images.githubusercontent.com/33670923/56857602-7c7fcc00-6924-11e9-86c2-fb707f8ccaf8.png)

[2019-04-29 16:36] RickieT commented on #1481
### QA Failed:

* Change log displays decimals for both values in | Previous | New Entry | columns when value is even (without deliberate decimal entries manual from user), we display decimals in other places, and that is fine, after talking with @jennyhavah we don't want to show ".00" in the change log, when the value is even. If the user enters a value such as 20.35, then I would expect to see t

[2019-04-29 16:46] jennyhavah opened #1517 "Program page "on track" chart: Percentages are not clickable"
# Issue

On the program page (but not the home page), the percentages are not clickable:

![image](https://user-images.githubusercontent.com/33670923/56912251-bc999880-6a63-11e9-9a02-2def5ae751ad.png)

# Acceptance criteria

- [x] 1. On the program page "on track" chart, I can click the above target / on track / below target percentages in addition to the rest of the string, to get a filtered list

[2019-04-29 16:53] RickieT commented on #1263
Something has changed with this styling here, it doesn't quite match up with the original passing criteria:
![Screen Shot 2019-04-29 at 9 52 24 AM](https://user-images.githubusercontent.com/23220180/56912662-96282d00-6a64-11e9-9457-1addfdc5b4d4.png)
![Screen Shot 2019-04-29 at 9 52 15 AM](https://user-images.githubusercontent.com/23220180/56912664-96282d00-6a64-11e9-9cf5-9006f5ad4fbc.png)

Looks a

[2019-04-29 16:55] RickieT opened #1518 "Overhead filter in Users page"
Referencing #1263 - The overhead filter has changed a little bit as far as how the styling works, now when making multiple selections, it counts as "2 selected" when selecting more than one, but when you select a single program, its a little wonky, and the x appears below a selection:
![Screen Shot 2019-04-29 at 9 52 24 AM](https://user-images.githubusercontent.com/23220180/56912746-cec80680-6a64-

[2019-04-29 16:57] sanjuroj commented on #1458
Confirmed that workflow and indicators __name__ based log configs are being directed to the error logger.

[2019-04-29 17:06] RickieT commented on #1329
### NOTE:
* This no longer applies. After demo feedback, the change log is now on the program page, and sits now below the filters on the iptt page

[2019-04-29 17:17] RickieT commented on #1268
![Screen Shot 2019-04-29 at 10 17 21 AM](https://user-images.githubusercontent.com/23220180/56914065-fc627f00-6a67-11e9-8f5b-e60c74c673e9.png)

[2019-04-29 17:19] hannalcamp commented on #1508
@jennyhavah The steps I took are essentially:

1. Change the Unit of Measure from # to %, and change direction of change, then hit "Remove targets".
2. Enter a rationale and click OK.
3. Set the periodic target type bar to a value like Quarterly, and hit "Save Changes" (NOT Create Targets)
4. Fill in the new empty target fields and hit Save Changes.
5. Enter a rationale and click OK.

The change l

[2019-04-29 17:21] KennyMonster commented on #1508
The issue with that cumulative/non-cumulative is that the form is hardcoding a "non-cumulative"  if its not set in the form because the radio button is hidden in some cases like LoP target type.

I don't know what the historical reason for doing this was and I'm kind of afraid to change it at this point.

[2019-04-29 17:23] jennyhavah commented on #1518
@axoplasm I'm not sure what the original intention was, or how it used to work, will defer to you on what exactly/when to fix.

[2019-04-29 17:28] jennyhavah commented on #1508
Yes, there's some complex logic around when it's hard-coded. As I recall, LoP-only was supposed to always be non-cumulative _except_ for percentage indicators that are always cumulative.

@hannalcamp I realize it's not good to have any situation where the wrong value is appearing in the change log. But as Ken has assessed this work as too high risk to address prior to release, are you comfortable

[2019-04-29 17:32] hannalcamp commented on #1508
Yep, totally good to defer. The change log does always show the correct value in the end (once new target values are added), so it's not WRONG wrong, just temporarily wrong.

[2019-04-29 18:36] KennyMonster commented on #1481
This has been changed such that future log entries will hide the decimal and zeros if a whole number.

[2019-04-29 18:51] RickieT commented on #1481
### QA Failed:
* I ONLY see the Previous entry / Next entry values for any disaggregation categories that were changed. **( we see values 'n/a' of entries we did not edit )**

* Do NOT display the actual value in Previous/New columns, unless it actually changed. (Right now that's all you see... even when it's not the field that changed.)
![Screen Shot 2019-04-29 at 11 45 58 AM](https://user-images

[2019-04-29 19:09] KennyMonster commented on #1481
@RickieT The N/A -> empty string above is the result of an existing implementation detail of how we store disaggregation values. Basically we store nothing, until 1 value is added, at which point we create entries for every possible desegregation value in the form.

In the above example, the N/A entry on the left represents non-existence, where the right represents existence with an empty string v

[2019-04-29 19:14] RickieT commented on #1481
@jennyhavah whats your opinion here, the criteria is passing in this ticket other than the issues described above. You wanna separate this criteria and defer it for post release?

[2019-04-29 19:28] jennyhavah opened #1520 "Change log: Updates to display of disaggregation values"
This work is peeled off of #1481

# Issues
Here is how the change log appears if you add disaggregated values to some categories and not others.

![image](https://user-images.githubusercontent.com/33670923/56920857-31c39880-6a79-11e9-8f44-142d59b3a6ca.png)

We include categories whose values have not changed, with "N/A" not making much sense in this context. It would be better to not include categ

[2019-04-29 19:30] jennyhavah commented on #1481
@RickieT I field ticket #1520 regarding the display of disaggregated values and put it in the "baby goat" column of Poblano.

I also crossed out two of the acceptance criteria in the original ticket, where those criteria are now in 1520.

[2019-04-29 19:31] axoplasm commented on #1518
This is a multiselect. This should have been caught when we de-pilled the multiselects, or maybe this only happens when we have just one option (?)

This close to deployment I’m tempted to defer.

[2019-04-29 19:37] RickieT commented on #1481
### QA Passed:
* As a result of splitting criteria, this ticket now is passing QA.
* Comments and projects field changes:
![pass_commentpro](https://user-images.githubusercontent.com/23220180/56921688-47d25880-6a7b-11e9-8100-7ca27ea1bec5.gif)
* Whole values do not have the ".00" displayed anymore:
![Screen Shot 2019-04-29 at 11 41 29 AM](https://user-images.githubusercontent.com/23220180/56921747-

[2019-04-29 19:39] RickieT commented on #1506
### QA Passed:
![Screen Shot 2019-04-29 at 12 39 41 PM](https://user-images.githubusercontent.com/23220180/56921933-de9f1500-6a7b-11e9-8a8e-4f66df9c9ba7.png)

[2019-04-29 19:48] jennyhavah commented on #1508
Note to @RickieT that I'm in the process of filing a new ticket that will cover the cumulative/non-cumulative issues. That work can be deferred.

[2019-04-29 20:00] axoplasm opened #1521 "Password reset email uses bare mercycorps.org link, omits hostname"
Currently the "sites" setting on all our servers (QA, dev2, production) is set to "mercycorps.org" which redirects to www. We need to set this explicitly to [hostname].mercycorps.org if only for the sake of our password reset email:

![image](https://user-images.githubusercontent.com/169060/56923208-d4324a80-6a7e-11e9-9985-d2c05250c34d.png)

[2019-04-29 20:10] RickieT opened #1522 "TolaTestThree account is getting an error attempting to login through okta"
Using the account tolatestthree@mercycorps.org, user is presented with a error page message, and does not log the user in:
![Screen Shot 2019-04-29 at 12 57 32 PM](https://user-images.githubusercontent.com/23220180/56923709-1740ed80-6a80-11e9-9536-cd1b42966d51.png)

[2019-04-29 20:12] hannalcamp opened #1523 "Papaya missing/weird translations (Spanish & French)"
# Issue
Missing translation strings in the new Admin UI and change log

- [ ] 1. "Add User" button (Spanish & French) and "Apply" button don't translate on Users Page

![Screen Shot 2019-04-29 at 2 00 46 PM](https://user-images.githubusercontent.com/38020496/56923519-fd0b0d80-6a87-11e9-8217-3fdb8e9f2c66.png)

- [x] 2. "Profile" next to user name in the Profile drop-down.

![Screen Shot 2019-04-29

[2019-04-29 20:39] axoplasm commented on #1521
Update: per conversation with @sanjuroj I am going to extend the auth view that sends this email so it can get a proper hostname using `request.build_absolute_uri()` or a global setting

[2019-04-29 21:01] RickieT commented on #1518
Yeah it looks like this one got missed, but the criteria for what fields and forms were getting this treatment was vague to begin with.

[2019-04-29 21:41] RickieT commented on #1452
### QA Passed:
![Screen Shot 2019-04-29 at 2 41 05 PM](https://user-images.githubusercontent.com/23220180/56928824-d4d1dd80-6a8c-11e9-80f9-9386d82be774.png)

[2019-04-29 23:05] jennyhavah opened #1524 "Change log: Address issues to how we display changes to cumulative / non-cumulative selection"
This is work peeled off from #1508.

# Issues

1. Under certain circumstances, a change from non-cumulative to cumulative is not logged. Here's an example where I toggled from % to number at the same time I switched from non-cumulative to cumulative. Only the % to # change was logged.

![image](https://user-images.githubusercontent.com/33670923/56922197-77359500-6a7c-11e9-96b9-566a8b2374c0.png)

2

[2019-04-29 23:10] jennyhavah commented on #1508
@hannalcamp @KennyMonster Filed ticket #1524 to cover issues related to logging cumulative/non-cumulative in combination with other indicator properties.

@RickieT Moving this back into QA for final review, now that this work is split out. In particular -- if you haven't already -- I'd appreciate you putting some extra scrutiny on change logging that combines deleting individual events with other

[2019-04-30 01:42] jennyhavah commented on #1488
This ticket is no longer needed, as a logout function was introduced as part of #1505.

[2019-04-30 01:42] #1488 closed

[2019-04-30 01:44] sanjuroj commented on #1522
When users log in through Okta, there are several other bits of information that we get from Okta:  first name, last name, and country assignment.  The Okta login code does not currently handle errors in retrieving/processing this information particularly well.  This particular issue is probably related to the very long last name that was given to the tolatestthree account.

Unfortunately, for mes

[2019-04-30 01:50] jennyhavah commented on #1374
I no longer see this underline.

[2019-04-30 01:50] #1374 closed

[2019-04-30 01:58] jennyhavah commented on #1522
@sanjuroj This all sounds fine to me.

[2019-04-30 16:23] RickieT commented on #1521
**QA Passed:**
* **Dev 2: Both gmail and password page links were accessible as expected**
![Screen Shot 2019-04-30 at 9 20 39 AM](https://user-images.githubusercontent.com/23220180/56977069-3a73a780-6b29-11e9-9f8a-23725c4335ad.png)
* **QA: Both gmail and password page links were accessible as expected**
![Screen Shot 2019-04-30 at 9 21 37 AM](https://user-images.githubusercontent.com/23220180/569

[2019-04-30 17:20] axoplasm commented on #1523
Program landing page: “Indicators missing ___”

![image](https://user-images.githubusercontent.com/169060/56980556-862a4f00-6b31-11e9-9c4f-fbb2fc485c42.png)

[2019-04-30 17:20] axoplasm commented on #1523
Program landing page: “Program metrics for target periods completed to date”
![image](https://user-images.githubusercontent.com/169060/56980606-a0fcc380-6b31-11e9-9cd7-c5dda897b6e1.png)

[2019-04-30 17:21] axoplasm commented on #1523
Program landing page: “Change log” button
![image](https://user-images.githubusercontent.com/169060/56980658-c38edc80-6b31-11e9-8f85-0b390c508d9d.png)

[2019-04-30 17:23] axoplasm opened #1526 "UnicodeDecodeError at /workflow/siteprofile_add in Spanish and French"
When attempting to add a Site Profile in Spanish:

[code]

[code]

[2019-04-30 17:24] camgnostic commented on #1523
I'm running down the reports section.  Starting with IPTT:
None selected in filters (translated but showing english)
Excel (shouldn't be translated as a verb)
Change log (translated but showing english)

Change log:
Date and time (translated but showing english)
Indicator change log (translated but showing english)
Change type (translated but showing english)
Previous entry (translated but showing

[2019-04-30 17:56] axoplasm commented on #1523
- [ ] Results modal: “This may be a badly formatted web address…”
![image](https://user-images.githubusercontent.com/169060/56982639-a14b8d80-6b36-11e9-8780-0e8fa5382d2d.png)

[2019-04-30 18:02] KennyMonster commented on #1523
"Program or country" isn't translated in ES in the nav bar

![Screen Shot 2019-04-30 at 10 56 28 AM](https://user-images.githubusercontent.com/1278224/56983010-71e95080-6b37-11e9-8018-d90c63164790.png)

[2019-04-30 18:04] RickieT opened #1527 "Name of indicator when changed and save does not immediately update on the modal"
Media displaying issue:
![react_ind_name](https://user-images.githubusercontent.com/23220180/56983139-c5f43500-6b37-11e9-8176-9166a66c56ed.gif)

[2019-04-30 18:14] RickieT opened #1528 "DIG indicator creation bubble selection casues server error when selected"
![image](https://user-images.githubusercontent.com/23220180/56983708-29cb2d80-6b39-11e9-84dc-91787c5196d7.png)

[2019-04-30 18:32] KennyMonster commented on #1523
"No options" is inside a JS library and not translated ATM. This can be fixed by overriding it with a translated string.

![Screen Shot 2019-04-30 at 11 31 23 AM](https://user-images.githubusercontent.com/1278224/56984777-abbc5600-6b3b-11e9-8e63-d3a6cdc00e4f.png)

[2019-04-30 18:54] jennyhavah commented on #1527
Since we'll be doing a lot of work on this modal in Satsuma, I'm moving it to that project. Seems like as good a time as any to tackle it.

[2019-04-30 19:00] axoplasm opened #1529 "Admin lite, Users: secondary select box loses styling"
When the primary select box has a value, the secondary select loses its custom styling:

[2019-04-30 19:11] camgnostic commented on #1377
Here I am a user who has admin access in the country for the top half of this screenshot, and don't have admin access for the bottom half.  So the top half of this screenshot the buttons are checkable, the bottom half they are not.  It is not visually clear without clicking on them which ones will work.
![Screen Shot 2019-04-30 at 12 09 45 PM](https://user-images.githubusercontent.com/7941355/5698

[2019-04-30 19:12] jennyhavah opened #1530 "Country and program pages > "On track" gauge chart: Make "Unavailable" an active filter"
**Affects:** The "on track" gauge chart on both the country (home) page and program pages:

![image](https://user-images.githubusercontent.com/33670923/56986484-b24ccc80-6b3f-11e9-9874-8bbe204b6e59.png)

# Issue

When I want to know exactly which indicators are "unavailable" for tracking purposes -- for any of the potential reasons they may be unavailable -- I can click XX% unavailable to filter t

[2019-04-30 19:31] KennyMonster commented on #1523
The change log field names are always in english, as the translated strings call gettext during the class instantiation, instead of on a per-request basis.

![Screen Shot 2019-04-30 at 12 31 22 PM](https://user-images.githubusercontent.com/1278224/56988020-e2966a00-6b43-11e9-9cb3-8cfe76221bc9.png)

[2019-04-30 19:34] axoplasm commented on #1523
- [ ] Admin lite, Program page: “users” is not translated:

![image](https://user-images.githubusercontent.com/169060/56988156-343ef480-6b44-11e9-8237-06bac96c4ac7.png)

[2019-04-30 19:56] RickieT commented on #1508
### QA Passed:
* Aside from a split issue from cumulative/non, I followed the criteria and examples in the description to a T, and found that the changes logged as we expected

[2019-04-30 20:08] axoplasm opened #1531 "Filter buttons are too big when translated to French"
![image](https://user-images.githubusercontent.com/169060/56990089-014b2f80-6b49-11e9-94f9-dd7e26c1d192.png)

[2019-04-30 21:25] jennyhavah opened #1532 "Super admins: When editing Programs and Roles for a non-MC user, disable Country level role menus"
**Affects:** Super Admins editing a user's Programs and Roles, when the user's organization is NOT Mercy Corps

# Issue

This issue falls under the category of, "It's always better when a system _prevents_ you from making an error, rather than complaining after the fact." We have a rule that when a user does not belong to the organization Mercy Corps, it is not possible to assign them a country le

[2019-04-30 21:49] jennyhavah commented on #1377
Thanks, @camgnostic Updated the ticket.

[2019-05-01 21:25] #1265 closed

[2019-05-01 21:25] #1264 closed

[2019-05-01 21:25] #1266 closed

[2019-05-01 21:25] #1269 closed

[2019-05-01 21:25] #1272 closed

[2019-05-01 21:25] #1320 closed

[2019-05-01 21:25] #1327 closed

[2019-05-01 21:25] #1322 closed

[2019-05-01 21:25] #1333 closed

[2019-05-01 21:25] #1337 closed

[2019-05-01 21:25] #1340 closed

[2019-05-01 21:25] #1343 closed

[2019-05-01 21:25] #1352 closed

[2019-05-01 21:25] #1304 closed

[2019-05-01 21:25] #1345 closed

[2019-05-01 21:25] #1368 closed

[2019-05-01 21:25] #1384 closed

[2019-05-01 21:25] #1334 closed

[2019-05-01 21:25] #1342 closed

[2019-05-01 21:25] #1379 closed

[2019-05-01 21:25] #1383 closed

[2019-05-01 21:25] #1397 closed

[2019-05-01 21:25] #1370 closed

[2019-05-01 21:25] #1394 closed

[2019-05-01 21:25] #1400 closed

[2019-05-01 21:25] #1401 closed

[2019-05-01 21:25] #1405 closed

[2019-05-01 21:25] #1389 closed

[2019-05-01 21:25] #1412 closed

[2019-05-01 21:25] #1423 closed

[2019-05-01 21:25] #1430 closed

[2019-05-01 21:25] #1378 closed

[2019-05-01 21:25] #1425 closed

[2019-05-01 21:25] #1427 closed

[2019-05-01 21:25] #1431 closed

[2019-05-01 21:25] #1451 closed

[2019-05-01 21:25] #1453 closed

[2019-05-01 21:25] #1457 closed

[2019-05-01 21:25] #1458 closed

[2019-05-01 21:25] #1479 closed

[2019-05-01 21:25] #1477 closed

[2019-05-01 21:25] #1478 closed

[2019-05-01 21:25] #1490 closed

[2019-05-01 21:25] #1508 closed

[2019-05-01 21:25] #1526 closed

[2019-05-01 21:53] jennyhavah opened #1538 "Home page: Restore % program period complete info and link to program period modal for Low and Medium access users"
**Affects:** People with Low and Medium access to programs

# Reproduce the issue

![image](https://user-images.githubusercontent.com/33670923/57043674-1c876f00-6c1d-11e9-837a-bdc7fecbe53a.png)

1. Log in as a user with Low or Medium access to programs.

2. Visit the home page.

3. Note that in each program block, there is no % program period complete info and no link to the program period modal i

[2019-05-02 00:06] RickieT commented on #1526
### QA Passed:
* Successfully created site in spanish:
![image](https://user-images.githubusercontent.com/23220180/57050850-73983e80-6c33-11e9-8af0-f884f01ff054.png)

[2019-05-02 02:56] #1528 closed

[2019-05-02 02:56] #1476 closed

[2019-05-02 02:56] #1522 closed

[2019-05-02 02:56] #1284 closed

[2019-05-02 02:57] #1484 closed

[2019-05-02 14:20] hannalcamp opened #1541 ""Mercy Corps" appearing as a User organization selection for Basic Administrators"
# Issue
Logged in as a Basic Administrator, I can set external users' Organization to Mercy Corps. Only Super Administrators should have this ability.

![Screen Shot 2019-05-02 at 8 09 55 AM](https://user-images.githubusercontent.com/38020496/57082026-22c82a80-6cb3-11e9-9b90-62c4daf014fe.png)

# Acceptance criteria

- [ ] 1. **Front end:** Logged in as a Basic Administrator, I am NOT able to set e

[2019-05-02 15:38] #1521 closed

[2019-05-02 15:58] #1506 closed

[2019-05-02 15:58] #1481 closed

[2019-05-02 15:58] #1505 closed

[2019-05-02 15:58] #1444 closed

[2019-05-02 15:58] #1499 closed

[2019-05-02 15:58] #1487 closed

[2019-05-02 15:58] #1489 closed

[2019-05-02 15:59] #1418 closed

[2019-05-02 15:59] #1482 closed

[2019-05-02 15:59] #1464 closed

[2019-05-02 15:59] #1460 closed

[2019-05-02 15:59] #1419 closed

[2019-05-02 15:59] #1467 closed

[2019-05-02 15:59] #1466 closed

[2019-05-02 15:59] #1469 closed

[2019-05-02 15:59] #1450 closed

[2019-05-02 15:59] #1459 closed

[2019-05-02 15:59] #1441 closed

[2019-05-02 15:59] #1424 closed